<form ng-submit="save()">
  <div class="grid-x">
    <div class="cell">
      <h3>Edit data source</h3>
    </div>
    <div class="cell" ng-show="dataSource.unitOfMeasurement.type === 'custom'">
      <label>Unit of measurement
        <inline-help help-key="criterion-unit"></inline-help>
      </label>
    </div>
    <div class="cell" ng-show="dataSource.unitOfMeasurement.type === 'custom'">
      <input type="text" ng-model="dataSource.unitOfMeasurement.label">
    </div>
    <div class="cell">
      <label>Reference
        <inline-help help-key="criterion-source"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="dataSource.source" ng-change="checkErrors()">
    </div>
    <div class="cell">
      <label>Reference URL (optional)
        <inline-help help-key="criterion-source-link"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="dataSource.sourceLink" ng-change="checkErrors()">
    </div>
    <div class="cell">
      <label>Strength of evidence (optional)
        <inline-help help-key="strength-of-evidence"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="dataSource.strengthOfEvidence">
    </div>
    <div class="cell">
      <label>Uncertainties (optional)
        <inline-help help-key="uncertainties"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="dataSource.uncertainties">
    </div>
    <div class="cell alert" ng-repeat="error in errors">
      <em>{{error}}</em>
    </div>
    <div class="cell">
      <button class="button success" type="submit" ng-disabled="errors.length">
        Edit
      </button>
    </div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</form>
