<form ng-submit="save()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Edit criterion</h3>
      </div>
      <div class="cell">
        <label>Name</label>
      </div>
      <div class="cell">
        <input type="text" ng-model="criterion.title" ng-change="isCreationBlocked()">
      </div>
      <div class="cell">
        <label>Description</label>
      </div>
      <div class="cell">
        <textarea rows="4" ng-model="criterion.description"></textarea>
      </div>
      <div class="cell">
        <label>Unit of measurement
          <inline-help help-key="criterion-unit"></inline-help>
        </label>
      </div>
      <div class="cell" ng-if="!canBePercentage">
        <input type="text" ng-model="criterion.unitOfMeasurement">
      </div>
      <div class="cell" ng-if="canBePercentage">
        <input type="text" ng-if="usePercentage" ng-disabled="true" ng-value="'%'">
        <input type="text" ng-if="!usePercentage" ng-disabled="true" ng-value="''">
      </div>
      <div class="cell" ng-if="useFavorability">
        <label>Favorability
          <inline-help help-key="favorability"></inline-help>
        </label>
        <input type="radio" ng-model="criterion.isFavorable" ng-value="false" id="not-favorable">
        <label for="not-favorable">Not favorable</label>
        <input type="radio" ng-model="criterion.isFavorable" ng-value="true" id="favorable">
        <label for="favorable">Favorable</label>
      </div>
      <div class="cell" ng-if="isAddOperation">
          <input-data-source data-source="criterion.dataSources[0]" is-invalid-source-link="sourceLinkValidity" change-callback="isCreationBlocked"></input-data-source>
      </div>
      <div class="cell">
        <button class="button success" type="submit" ng-disabled="blockedReasons.length">Save</button>
      </div>
      <div class="cell" ng-when="blockedReasons.length">
        <em ng-repeat="blockedReason in blockedReasons" class="alert">{{blockedReason}}
          <br>
        </em>
      </div>
      <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</form>
