<form ng-submit="save()">
  <div class="grid-x">
    <div class="cell">
      <h3>Edit criterion</h3>
    </div>
    <div class="cell">
      <label>Name</label>
    </div>
    <div class="cell">
      <input type="text" ng-model="criterion.title" ng-change="checkForDuplicateNames()">
    </div>
    <div class="cell">
      <label>Description</label>
    </div>
    <div class="cell">
      <textarea rows="4" ng-model="criterion.description"></textarea>
    </div>
    <div class="cell">
      <label>Unit of measurement
        <inline-help help-key="criterion-unit"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="criterion.unitOfMeasurement">
    </div>
    <div class="cell">
      <label>Reference
        <inline-help help-key="criterion-source"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="criterion.source">
    </div>
    <div class="cell">
      <label>Reference URL
        <inline-help help-key="criterion-source-link"></inline-help>
      </label>
    </div>
    <div class="cell">
      <input type="text" ng-model="criterion.sourceLink" ng-change="checkUrl()">
    </div>
    <div class="cell">
      <button class="button success" type="submit" ng-disabled="!criterion.title || !isTitleUnique || !isValidUrl">Save</button>
    </div>
    <div class="cell alert" ng-if="!isValidUrl">Invalid URL</div>
  </div>
  <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
</form>