<form ng-submit="save()">
  <div class="grid-x">
    <div class="cell">
      <h3> Edit Alternative</h3>
    </div>
    <div class="cell">
      <label>Title</label>
    </div>
    <div class="cell">
      <input id="alternative-title" type="text" ng-model="alternative.title" ng-change="checkForDuplicateNames()">
    </div>
    <button id="save-alternative-button" class="button success" type="submit" ng-disabled="!alternative.title || !isTitleUnique">Save</button>
    <div class="cell alert" ng-if="!isTitleUnique">Duplicate title</div>
  </div>
  <button id="close-modal-button" ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
</form>