<div class="grid-x">
  <div class="cell large-6">
    <a class="button small" ng-click="downloadWorkspace()">
      Download workspace
    </a>
  </div>
  <div class="cell">
    <h4>
      Therapeutic context
      <inline-help help-key="therapeutic-context"></inline-help>
      <a ng-if="editMode.isUserOwner && isStandAlone" ng-click="editTherapeuticContext()">
        <i class="fa fa-edit"></i>
      </a>
    </h4>
  </div>
  <div class="cell underlined-div">
    <span ng-if="problem.description">{{problem.description}}</span>
    <span ng-if="!problem.description">No description given.</span>
  </div>
  <div class="cell">
    <h4>Criteria
      <inline-help help-key="criterion"></inline-help>
    </h4>
  </div>
  <div class="cell">
    <criterion-list criteria="criteria" workspace="workspace" use-favorability="useFavorability" edit-mode="editMode"></criterion-list>
  </div>
  <div class="cell">
    <h4>Alternatives
      <inline-help help-key="alternative"></inline-help>
    </h4>
  </div>
  <div class="cell large-6">
    <table width="100%">
      <thead>
        <tr>
          <th>Alternative title</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alternative in alternatives">
          <td>
            <div class="grid-x">
              <div ng-if="editMode.isUserOwner" class="cell small-1">
                <div style="line-height: 10px; margin-bottom: 4px;">
                  <a ng-click="alternativeUp($index)" class="nav-arrow" ng-if="$index !== 0">
                    <i style="line-height:0px;" class="fa fa-caret-up"></i>
                  </a>
                  <i ng-if="$index === 0" style="line-height:0px; color:#bbb" class="fa fa-caret-up"></i>
                </div>
                <div style="line-height: 10px;">
                  <a ng-click="alternativeDown($index)" class="nav-arrow" ng-if="$index !== alternatives.length-1">
                    <i style="line-height:0px;" class="fa fa-caret-down"></i>
                  </a>
                  <i ng-if="$index === alternatives.length-1" style="line-height:0px; color:#bbb" class="fa fa-caret-down"></i>
                </div>
              </div>
              <div class="cell small-11">
                <a ng-if="editMode.isUserOwner && isStandAlone" ng-click="editAlternative(alternative)">
                  <i class="fa fa-edit"></i>
                </a>{{alternative.title}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell underlined-div"></div>
  <div class="cell">
    <effects-table criteria="criteria" alternatives="alternatives" edit-mode="editMode" effects-table-info="effectsTableInfo"
      scales="scales"></effects-table>
  </div>
</div>
