$drugis-color: #1976D2;
$foundation-palette: (
  primary: $drugis-color,
  secondary: #767676,
  success:  #29A329,
  warning: lighten(#f08a24, 5%),
  alert: #E66464
);
@import "settings";
$button-opacity-disabled: 0.5;

$row-width: rem-calc(1500);
@import "foundation";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-callout;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-flex-classes;
@import "drugis";
@import "mcda-drugis-base";
