@import "settings";
$drugis-color: #1976D2;
$primary-color: #1976D2;
$row-width: rem-calc(1500);
@import"../bower_components/foundation/scss/foundation.scss";
@import "drugis";
@import "mcda-drugis-base";
