<div class="grid-x underlined-div">
  <div class="cell">
    <h4>Rank acceptabilities <inline-help help-key="rank-acceptabilities"></inline-help>
    </h4>
  </div>
  <div class="cell large-2 large-offset-9">
    <button class="button small info clipboard-button" data-clipboard-target="#rank-table">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div id="rank-plot-container" class="cell large-6">
    <div export file-name="'rank-acceptability-plot'" legend style="width: 400px; height: 400px">
      <rank-plot values="state.results.ranks" alternatives="alternatives" labels="scenario.state.legend">
      </rank-plot>
    </div>
  </div>
  <div class="cell large-6">
    <table id="rank-table" class="rank-table">
      <thead>
        <tr>
          <th></th>
          <th ng-repeat="alternative in alternatives">Rank {{::$index + 1}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alternative in alternatives">
          <td>{{scenario.state.legend[alternative.id].baseTitle || alternative.title}}</td>
          <td id="alternative-{{ $parent.$index }}-rank-{{ $index + 1 }}" class="text-centered"
            ng-repeat="rank in state.results.ranks[alternative.id] track by $index">
            {{::rank | number}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
