<form>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>{{type}} scenario</h3>
      </div>
      <div class="cell">Title of new scenario</div>
      <div class="cell">
        <input id="new-scenario-title" type="text" ng-model="title.newTitle" ng-change="checkDuplicateScenarioTitle()">
      </div>
      <div class="cell">
        <button id="create-new-scenario-button" class="button success" type="submit" ng-click="create()"
          ng-disabled="!title.newTitle || isDuplicateScenarioTitle">
          Create
        </button>
      </div>
    </div>
    <div id="duplicate-title-alert" class="cell alert" ng-if="isDuplicateScenarioTitle">Duplicate title</div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
