<div ng-show="state.type == 'elicit'">
  <div class="grid-x" style="min-height: 450px">
    <div class="cell">
      <h3>{{state.title}}
        <inline-help help-key="ranking"></inline-help>
      </h3>
    </div>
    <div class="cell">
      <h5 class="subheader">Given the following situation:</h5>
    </div>
    <div class="cell">
      <ul class="inline-list">
        <li ng-repeat="criterion in criteria">
          {{criterion.title}}: {{criterion.alreadyChosen ? (criterion.best | number) : (criterion.worst | number) }} {{getUnitOfMeasurement(criterion)}}
        </li>
      </ul>
    </div>
    <div class="cell">Which of the following improvements is most important?</div>
    <div class="cell" ng-repeat="criterion in state.choices">
      <label>
        <input type="radio" ng-model="state.choice" value="{{criterion.id}}"> {{criterion.dataSources[0].pvf.direction}} {{criterion.title}} from {{pvf.worst(criterion.dataSources[0]) | number}}
        {{getUnitOfMeasurement(criterion)}} to {{pvf.best(criterion.dataSources[0]) | number}} {{getUnitOfMeasurement(criterion)}}
      </label>
    </div>
  </div>
</div>
<div class="grid-x">
  <div class="cell">
    <button class="button" ng-click="cancel()">Cancel</button>
    <button class="button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
    <button class="button" ng-if="!canSave(state)" ng-click="nextStep(state)" ng-disabled="!canProceed(state)">Next</button>
    <button class="success button" ng-if="canSave(state)" ng-click="save(state)" ng-disabled="!state.choice">Save</button>
  </div>
</div>
</div>
