<div ng-if="aggregateState">
  <preferences
    scenarios="reactScenarios"
    current-scenario-id="scenario.id"
    workspace-id="workspace.id"
    problem="aggregateState.problem"
    settings="workspaceSettings"
  ></preferences>

  <scenario
    aggregate-state="aggregateState"
    edit-mode="editMode"
    tasks="tasks"
    scenario="scenario"
  >
  </scenario>
</div>

<div ng-if="!aggregateState" class="grid-x">
  <div class="cell text-centered">
    <a class="fa fa-spinner fa-2x fa-spin"></a>
  </div>
</div>
