<table>
  <thead>
    <th>Criterion
      <inline-help help-key="criterion"></inline-help>
    </th>
    <th>Description</th>
    <th>Unit
      <inline-help help-key="criterion-unit"></inline-help>
    </th>
    <th>Worst</th>
    <th>Best</th>
    <th>Importance</th>
  </thead>
  <tbody>
    <tr ng-repeat-start="criterion in criteria">
      <td>{{criterion.title}}</td>
      <td>{{criterion.description}}</td>
      <td>{{criterion.unitOfMeasurement}}</td>
      <td>{{pvf.worst(criterion.dataSources[0]) | number}}</td>
      <td>{{pvf.best(criterion.dataSources[0]) | number}}</td>
      <td ng-if="criterion.id !== mostImportantCriterionId">
        <a ng-click="openElicitation(criterion.id)">{{importance[criterion.id] || '?'}}</a>
      </td>
      <td ng-if="criterion.id === mostImportantCriterionId">100%</td>
    </tr>
    <tr ng-repeat-end ng-if="showElicitation[criterion.id]">
      <td colspan="999">
        <elicitation-trade-off secondary-criterion="criterion" 
          most-important-criterion="mostImportantCriterion"></elicitation-trade-off>
      </td>
    </tr>
  </tbody>
</table>
