<div ng-if="aggregateState">
  <preferences
    scenarios="reactScenarios"
    current-scenario-id="scenario.id"
    workspace-id="workspace.id"
    problem="aggregateState.problem"
    settings="workspaceSettings"
  ></preferences>

  <div ng-if="criteriaHavePvf">
    <willingness-to-trade-off state="aggregateState"></willingness-to-trade-off>
  </div>
</div>

<div ng-if="!aggregateState" class="grid-x">
  <div class="cell text-centered">
    <a class="fa fa-spinner fa-2x fa-spin"></a>
  </div>
</div>
