<div class="grid-x prefs-block" id="trade-off-block">
  <div class="cell large-4 button-group" ng-if="editMode.canEdit">
    <button
      id="reset-button"
      class="button alert"
      ng-click="resetWeights()"
      tooltip="Reset all weight preferences"
      ng-disabled="!problem.preferences.length"
      id="resetWeightsButton"
    >
      Reset weights
    </button>
    <button
      id="ranking-button"
      class="button"
      ui-sref="ordinal-swing"
      ng-disabled="!isAccessible(tasks['ordinal-swing']).accessible"
      ng-class="{alert: !isSafe['ordinal-swing'].safe}"
      tooltip="{{isSafe['ordinal-swing'].tooltip}}"
    >
      Ranking
    </button>
    <button
      id="matching-button"
      class="button"
      ui-sref="matching"
      ng-disabled="!isAccessible(tasks['matching']).accessible"
      ng-class="{alert: !isSafe['matching'].safe}"
      tooltip="{{isSafe['matching'].tooltip}}"
    >
      Matching
    </button>
    <button
      id="precise-swing-button"
      class="button"
      ui-sref="swing-weighting"
      ng-disabled="!isAccessible(tasks['swing-weighting']).accessible"
      ng-class="{alert: !isSafe['swing-weighting'].safe}"
      tooltip="{{isSafe['swing-weighting'].tooltip}}"
    >
      Precise Swing Weighting
    </button>
    <button
      id="imprecise-swing-button"
      class="button"
      ui-sref="imprecise-swing-weighting"
      ng-disabled="!isAccessible(tasks['imprecise-swing-weighting']).accessible"
      ng-class="{alert: !isSafe['imprecise-swing-weighting'].safe}"
      tooltip="{{isSafe['imprecise-swing-weighting'].tooltip}}"
    >
      Imprecise Swing Weighting
    </button>
  </div>
</div>
