<div class="grid-x">
  <div class="cell">
    <h4>
      Willingness to trade off
    </h4>
  </div>
  <div class="cell large-3">
    <label>First criterion
      <select ng-options="criterion as criterion.title for criterion in firstCriterionOptions" ng-model="settings.firstCriterion"
        ng-change="firstCriterionChanged()"></select>
    </label>
  </div>
  <div class="cell large-1"></div>
  <div class="cell large-3">
    <label>Second criterion
      <select ng-options="criterion as criterion.title for criterion  in secondCriterionOptions " ng-model="settings.secondCriterion"
        ng-change="secondCriterionChanged()"></select>
    </label>
  </div>
  <div class="cell">
    <div style="width: 600px; height: 800px">
      <willingness-to-trade-off-chart settings="settings" problem="problem"></willingness-to-trade-off-chart>
    </div>
  </div>
</div>
