<div class="grid-x">
  <div class="cell">
    <svg></svg>
  </div>
  <div class="cell" style="width: 454px;margin-left: 46px" ng-if="areCoordinatesSet">
    <rzslider rz-slider-model="coordinates.x2" rz-slider-options="sliderOptions"></rzslider>
  </div>
  <div class="cell">
    <br><b>Outcome A</b>
  </div>
  <div class="cell large-6">
    <label>{{settings.firstCriterion.title}}: </label>
    <input type="number" ng-model="inputCoordinates.x" ng-change="updateInputFirstPoint()" ng-model-options="{ debounce: 1000 }">
  </div>
  <div class="cell large-6">
    <label>{{settings.secondCriterion.title}}: </label>
    <input type="number" ng-model="inputCoordinates.y" ng-change="updateInputFirstPoint()" ng-model-options="{ debounce: 1000 }">
  </div>
  <div class="cell" ng-show="areCoordinatesSet">
    <b>Outcome B</b>
  </div>
  <div class="cell large-6" ng-show="areCoordinatesSet">
    <label>{{settings.firstCriterion.title}}: </label>
    <input type="number" ng-model="inputCoordinates.x2" ng-change="updateInputSecondPoint()" ng-model-options="{ debounce: 1000 }">
  </div>
  <div class="cell large-6" ng-show="areCoordinatesSet">
    <label>{{settings.secondCriterion.title}}: </label>
    <input type="number" ng-disabled="true" ng-model="inputCoordinates.y2">
  </div>
  <div class="cell callout secondary" ng-show="areCoordinatesSet">
    <div class="grid-x">
      <div class="cell">
        Your value judgments imply that you are indifferent between the following options:
      </div>
      <div class="cell">
        <br>Outcome A
      </div>
      <div class="cell">
        &nbsp;
        {{settings.firstCriterion.title}}: {{inputCoordinates.x}} {{units.x}}
      </div>
      <div class="cell">
        &nbsp;
        {{settings.secondCriterion.title}}: {{inputCoordinates.y}} {{units.y}}
      </div>
      <div class="cell">
        <br>Outcome B
      </div>
      <div class="cell">
        &nbsp;
        {{settings.firstCriterion.title}}: {{inputCoordinates.x2}} {{units.x}}
      </div>
      <div class="cell">
        &nbsp;
        {{settings.secondCriterion.title}}: {{inputCoordinates.y2}} {{units.y}}
      </div>
      <div class="cell">
        <br>If this is incorrect, you should adjust the weights or partial value functions.
      </div>
    </div>
  </div>
</div>
