<div class="grid-x">
  <div class="cell">
    <svg></svg>
  </div>
  <div class="cell" style="width: 454px;margin-left: 46px" ng-if="coordinates.x + coordinates.y !== NaN">
    <rzslider rz-slider-model="coordinates.x2" rz-slider-options="sliderOptions"></rzslider>
  </div>
  <div class="cell">
    <br><b>Outcome A</b>
  </div>
  <div class="cell large-6">
    <label>{{settings.firstCriterion.title}}: </label>
    <input type="number" ng-model="coordinates.x" ng-change="updateFirstPoint()" ng-model-options="{ debounce: 500 }">
  </div>
  <div class="cell large-6">
    <label>{{settings.secondCriterion.title}}: </label>
    <input type="number" ng-model="coordinates.y" ng-change="updateFirstPoint()" ng-model-options="{ debounce: 500 }">
  </div>
  <div class="cell" ng-show="coordinates.x + coordinates.y !== NaN">
    <b>Outcome B</b>
  </div>
  <div class="cell large-6" ng-show="coordinates.x + coordinates.y !== NaN">
    <label>{{settings.firstCriterion.title}}: </label>
    <input type="number" ng-model="coordinates.x2" ng-change="updateSecondPoint()" ng-model-options="{ debounce: 500 }">
  </div>
  <div class="cell large-6" ng-show="coordinates.x + coordinates.y !== NaN">
    <label>{{settings.secondCriterion.title}}: </label>
    <input type="number" ng-disabled="true" ng-model="coordinates.y2">
  </div>
  <div class="cell callout secondary" ng-show="coordinates.x + coordinates.y !== NaN">
    <div class="grid-x">
      <div class="cell">
        Your value judgments imply that you are indifferent between the following options:
      </div>
      <div class="cell">
        <br>Outcome A
      </div>
      <div class="cell">
        &nbsp;
        <em>{{settings.firstCriterion.title}}</em> at {{coordinates.x}} {{settings.firstCriterion.unitOfMeasurement}}
      </div>
      <div class="cell">
        &nbsp;
        <em>{{settings.secondCriterion.title}}</em> at {{coordinates.y}} {{settings.secondCriterion.unitOfMeasurement}}
      </div>
      <div class="cell">
        <br>Outcome B
      </div>
      <div class="cell">
        &nbsp;
        <em>{{settings.firstCriterion.title}}</em> at {{coordinates.x2}} {{settings.firstCriterion.unitOfMeasurement}}
      </div>
      <div class="cell">
        &nbsp;
        <em>{{settings.secondCriterion.title}}</em> at {{coordinates.y2}} {{settings.secondCriterion.unitOfMeasurement}}
      </div>
      <div class="cell">
        <br>If this is incorrect, you should adjust the weights or partial value functions.
      </div>
    </div>
  </div>
</div>
