bower_components
frontend-test/node_modules
*.swp
/tags
/R/service.R
\#*\#
.\#*
*_archive
.sass-cache
database.h2.db
database.trace.db
database.lock.db
frontend-test/test-results.xml
node_modules
dist
coverage
ssl

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.aux
*.rej
*.swo
*.swp
*.vi
*~
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea/
.jshintrc
Chrome_*
Chromium_*
.RData
R/.Rhistory
R/*.json
.vscode
