frontend-test/node_modules
*.swp
/tags
/R/service.R
\#*\#
.\#*
*_archive
.sass-cache
frontend-test/test-results.xml
node_modules
dist
coverage
ssl
/tscomp
liquibase/liquibase-changelog.sql
tests_output/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.aux
*.rej
*.swo
*.swp
*.vi
*~
*.js.map
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea/
.jshintrc
Chrome_*
Chromium_*
.RData
R/.Rhistory
R/*.json
.vscode
# TSC artifacts
app/js/interface/*.js
app/js/type/*.js
test/endToEnd/*.map
test/endToEnd/effectsTableDisplayTest.js
test/endToEnd/missingEffectTest.js
test/endToEnd/tradeOffTest.js
test/endToEnd/util/effectsTableDisplayTestUtil.js
test/endToEnd/util/ITestCriterionRow.js
test/endToEnd/util/ITestCriterionRowWithUncertainty.js
test/endToEnd/workspaceSortingTest.js
test/endToEnd/onlyEmptyAndTextTest.js
test/endToEnd/stepSizeTest.js