js/app.js
js/test.js
*.swp
/tags
/R/service.R
/js/patavi.js
*~
\#*\#
.\#*
*_archive
.sass-cache
app/css/mcda-plain.css
app/css/mcda-drugis.css
database.h2.db
database.trace.db
database.lock.db
test/test-results.xml