<!DOCTYPE html>
<html ng-app="elicit">
<head>
	<meta charset="utf-8" />
	<title>Preference elicitation</title>
<link rel="stylesheet" type="text/css" href="js/lib/jslider/bin/jquery.slider.min.css"></link>
</head>
<body ng-controller="ElicitationController">
<h1>Preference Elicitation</h1>
<h2>{{currentStep.title}}</h2>

<style> label { display: block }
</style>

<div id="wizardStepContainer">
<ordinal-step current-step="currentStep" problem="problem"></ordinal-step>
<ratio-bound-step current-step="currentStep" problem="problem"></ratio-bound-step>
<choose-method-step current-step="currentStep"></choose-method-step>
	<button ng-click="previousStep()">Back</button>
	<button ng-click="nextStep()">Next</button>

	<pre>{{currentStep|json}}</pre>
</div>

<script>
	window.config = {};
	window.config.smaaWS = "http://localhost:3000/api/analysis/smaa";
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="js/lib/angular-1.0.6/angular.min.js"></script>
<script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/lib/jslider/bin/jquery.slider.min.js"></script>
<script type="text/javascript" src="js/components.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>
