<div ng-show="currentStep.type == 'partial value function'">
  <div ng-show="currentStep.choice.subType == null">
    <p>The partial value functions (<abbr title="partial value function">PVF</abbr>)
    define the mapping between the measurement values and the
    utility of that value.</p>

    <div ng-repeat="(k, criterion) in currentStep.choice.data">
      {{currentStep.problem.criteria[k].title}}
      <div class="row">
        <div class="large-4 columns">
          <small>Preferred level</small>
          <label>
            <input type="radio"
            ng-model="criterion.direction"
            value="decreasing"
            ng-selected="criterion.direction =='decreasing'">
            {{criterion.range[0]}} is best
          </label>
          <label>
            <input type="radio"
            ng-model="criterion.direction"
            value="increasing"
            ng-selected="criterion.direction == 'increasing'">
            {{criterion.range[1]}} is best
          </label>
        </div>
        <div class="large-4 columns">
          <small>Type of function</small>
          <label><input type="radio" ng-model="criterion.type" value="linear">Linear</label>
          <label><input type="radio" ng-model="criterion.type" value="piecewise-linear">Piece-wise linear</label>
        </div>
      </div>
    </div>
  </div> <!-- / subType == null -->

  <div ng-show="currentStep.choice.subType == 'elicit cutoffs'">
    <div class="row">
      <h3>{{currentStep.problem.criteria[currentStep.choice.criterion].title}}</h3>
      <p>Define the reference levels needed to elict the piecewise <abbr title="partial value function">PVF</abbr>:
      </p>
      <ul>
        <li><b>{{currentStep.problem.criteria[currentStep.choice.criterion].best()}}</b></li>
        <li ng-repeat="cutoff in currentStep.choice.data[currentStep.choice.criterion].cutoffs">
        {{cutoff}}
        </li>
        <li><b>{{currentStep.problem.criteria[currentStep.choice.criterion].worst()}}</b></li>
      </ul>

      <form name="addCutoff" ng-class="{error: !currentStep.choice.data[currentStep.choice.criterion].validCutoff(cutoff)}" >
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-10 columns">
              <input paceholder="Cutoff at..." ng-model="cutoff" type="number" name="cutoff"></input>
            </div>
            <div class="small-2 columns">
              <button class="small"
                ng-disabled="!currentStep.choice.data[currentStep.choice.criterion].validCutoff(cutoff)"
                ng-click="currentStep.choice.data[currentStep.choice.criterion].addCutoff(cutoff)">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- / subType == 'elicit cutoffs' -->

  <div ng-show="currentStep.choice.subType == 'elicit values'">
    <div class="row">
      <h3>{{currentStep.problem.criteria[currentStep.choice.criterion].title}}</h3>
      <div class="columns">
        <div class="row" ng-repeat="(i, base) in currentStep.choice.data[currentStep.choice.criterion].base">
          <p>Please indicate preference of each of these values
          over {{base}}:</p>

          <ul class="no-bullet">
            <li ng-repeat="(j, comp) in currentStep.choice.data[currentStep.choice.criterion].comp[i]">
            <label class="columns small-4">{{comp}}
              <select ng-options="p for (k, p) in currentStep.choice.preferences"
                ng-model="currentStep.choice.data[currentStep.choice.criterion].preferences[i][i + j + 1]"
                style="width: 12em; float: right">
                <option value="">-- undefined --</option>
              </select>
            </label>
            </li>
          </ul>
        </div>
      </div>
      <button class="success" ng-click='currentStep.choice.calculate(currentStep)'>Calculate function</button>
    </div>
  </div>

</div>
