/* Print style */

/* Reset quotes */
q {quotes: none}
q:before, q:after {content: ""}

/* Hide everything unneeded */
header h1, header nav, footer, img {display: none}

/* font sizes */
body {
    font: Arial, "Verdana", Sans-serif;
    line-height: 1.3;
    color: #000;
}

h1 {font-size: 24pt}

h2 {font-size: 14pt; margin-top: 25px}

aside h2 {font-size: 18pt}

/* Show printer-frindly logo. */
header .print {display: block}

header h1 {
	margin: 0;
	font-size: 30pt;
}


img {border: 0}


header {margin-bottom: 40px}


header:after {display: block; content: "www.smashing-winery.com"}

blockquote {
    font-size: 13pt;
    font-style: italic;
}

p a {color: #000}

p a:after {
    content: " (http://www.smashing-winery.com/" attr(href) ")";
    font-size: 80%;
    word-wrap: break-word;
}

p a[href^="http://"]:after, p a[href^="https://"]:after {
    content: " (" attr(href) ")";
}


q:after {content: " (" attr(cite) ")"}


aside {
    border-top: 1px solid #bbb;
    margin-top: 30px;
    display: block;
    /*page-break-before: always; */ /* Moves the sidebar to new page */
}

td {
    margin: 0px;
    border-bottom: 1px solid #000;
    padding: 6px;
    height: auto;
}

thead {
    font-weight: bold;
    font-size: 120%;
    border: none;
    background-color: #000;
    color: #fff;
}