<div class="grid-x callout">
  <div class="cell shrink" style="display:flex; align-items:center;">
    <div style="margin-right: 16px">
      <div style="line-height: 10px; margin-bottom: 10px;">
        <a ng-if="canGoUp" ng-click="criterionUp()" class="nav-arrow">
          <i style="line-height:0px;" class="fa fa-caret-up fa-2x"></i>
        </a>
        <i ng-if="!canGoUp" style="line-height:0px; color:#bbb" class="fa fa-caret-up fa-2x"></i>
      </div>
      <div style="line-height: 10px;">
        <a ng-if="canGoDown" ng-click="criterionDown()" class="nav-arrow">
          <i style="line-height:0px;" class="fa fa-caret-down fa-2x"></i>
        </a>
        <i ng-if="!canGoDown" style="line-height:0px; color:#bbb" class="fa fa-caret-down fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="cell auto">
    <div class="grid-x">
      <div class="cell large-10">
        <h5>{{criterion.title}}</h5>
      </div>
      <div class="cell large-2">
        <div class="right">
          <a ng-click="editCriterion(criterion)" tooltip="Edit criterion">
            <i class="fa fa-edit fa-2x icon-fixed-width"></i>
          </a>
          <a  ng-if="isInput" ng-click="removeCriterion(idx)" tooltip="Remove criterion">
            <i class="fa fa-trash fa-2x icon-fixed-width" style="color:red"></i>
          </a>
        </div>
      </div>
      <div class="cell" ng-if="criterion.description">
        <b>Description:</b> {{criterion.description}}
      </div>
      <div class="cell" ng-if="criterion.unitOfMeasurement">
        <b>Unit of measurement:</b> {{criterion.unitOfMeasurement}}
      </div>
      <div class="cell">
        <b>Data sources:</b>
      </div>
      <div class="cell" ng-if="isInput">
        <button class="button small" ng-click="editDataSource()">Add data source</button>
      </div>
      <div class="cell">
        <table>
          <thead>
            <tr>
              <th></th>
              <th style="min-width: 15rem;">Reference
                <inline-help help-key="criterion-source"></inline-help>
              </th>
              <th>Input type</th>
              <th>Input method</th>
              <th>Data type</th>
              <th>Parameter of interest</th>
              <th>Uncertainties / Strength of evidence
                <!-- <inline-help help-key="strength-of-evidence"></inline-help> -->
              </th>
              <th></th>
              <th ng-if="isInput"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dataSource in criterion.dataSources track by dataSource.id">
              <td>
                <div style="line-height: 10px; margin-bottom: 4px;">
                  <a ng-if="!$first" ng-click="dataSourceUp(criterion, $index)" class="nav-arrow">
                    <i style="line-height:0px;" class="fa fa-caret-up"></i>
                  </a>
                  <i ng-if="$first" style="line-height:0px; color:#bbb" class="fa fa-caret-up"></i>
                </div>
                <div style="line-height: 10px;">
                  <a ng-if="!$last" ng-click="dataSourceDown(criterion, $index)" class="nav-arrow">
                    <i style="line-height:0px;" class="fa fa-caret-down"></i>
                  </a>
                  <i ng-if="$last" style="line-height:0px; color:#bbb" class="fa fa-caret-down"></i>
                </div>
              </td>
              <td>
                <div ng-if="dataSource.sourceLink">
                  <a href="{{dataSource.sourceLink}}">{{dataSource.source}}</a>
                </div>
                <div ng-if="!dataSource.sourceLink">
                  {{dataSource.source}}
                </div>
              </td>
              <td ng-style="!dataSource.inputType ? {'color': 'red'} : {}">{{dataSource.inputType ? dataSource.inputType : 'Unknown'}}</td>
              <td>{{dataSource.inputType === 'distribution' ? INPUT_METHODS[dataSource.inputMethod] :'NA'}}</td>
              <td>{{dataSource.inputType === 'effect' || dataSource.inputMethod === 'assistedDistribution' ? dataSource.dataType
                : 'NA'}}</td>
              <td>{{(dataSource.inputType && dataSource.inputType !== 'distribution') || dataSource.inputMethod === 'assistedDistribution'
                ? PARAMETERS_OF_INTEREST[dataSource.parameterOfInterest] : 'NA'}}</td>
              <td>
                <b>Unc: </b> {{dataSource.uncertainties}}
                <br>
                <b>SoE: </b>{{dataSource.strengthOfEvidence}}
              </td>
              <td>
                <a ng-click="editDataSource(dataSource, $index)" tooltip="Edit data source">
                  <i class="fa fa-edit icon-fixed-width"></i>
                </a>
              </td>
              <td ng-if="isInput">
                <a ng-click="removeDataSource(dataSource)" tooltip="Remove data source" ng-if="criterion.dataSources.length > 1">
                  <i class="fa fa-trash icon-fixed-width" style="color:red"></i>
                </a>
                <a tooltip="Cannot remove the only data source" ng-if="criterion.dataSources.length < 2">
                  <i class="fa fa-trash icon-fixed-width" style="color:#bbb"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
