<div class="grid=x">
  <div class="cell">
    <h4>Effects Table
      <inline-help help-key="effects-table"></inline-help>
    </h4>
  </div>
  <div class="cell large-4">
    <toggle-columns toggled-columns="toggledColumns" edit-mode="editMode"></toggle-columns>
    <span class="toggle-text">Effects</span>
    <span class="switch">
      <input class="switch-input" id="showStudyDataToggle" type="checkbox" ng-model="showStudyData.value">
      <label class="switch-paddle" ng-if="studyDataAvailable" for="showStudyDataToggle"></label>
      <label class="switch-paddle" ng-if="!studyDataAvailable" tooltip-append-to-body="true" tooltip="Cannot show source data if all data is not distributed or relative"></label>
    </span>
    <span class="toggle-text">Source data</span>
    <button class="button small info clipboard-button right" data-clipboard-target="#effectstable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell">
    <table class="full-width effects-table" id="effectstable">
      <thead>
        <tr>
          <th ng-show="toggledColumns['criteria']">Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th ng-show="toggledColumns['description']">Description</th>
          <th ng-show="toggledColumns['units']">Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
          <th class="text-center" ng-repeat="alternative in alternatives">
            {{alternative.title}}</th>
          <th ng-show="toggledColumns['references']">References
            <inline-help help-key="criterion-source"></inline-help>
          </th>
          <th ng-show="toggledColumns['strength']">Strength of evidence / Uncertainties
            <!-- <inline-help help-key="strength-of-evidence"></inline-help> -->
          </th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat="row in rows">
          <td ng-if="row.isHeaderRow" class="group-header" colspan="{{5 + nrAlternatives}}">
            <div class="main-header">
              {{row.headerText}}
            </div>
          </td>
          <td ng-if="!row.isHeaderRow && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}" ng-show="toggledColumns['criteria']">
            {{row.criterion.title}}
          </td>
          <td ng-if="!row.isHeaderRow && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}" ng-show="toggledColumns['description']">
            {{row.criterion.description}}
          </td>
          <td ng-if="!row.isHeaderRow && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}" ng-show="toggledColumns['units']">
            {{row.criterion.unitOfMeasurement}}
          </td>
          <td ng-if="!row.isHeaderRow" class="text-center" ng-repeat="alternative in alternatives" name="col{{$index}}" id="col{{$index}}">
            <effects-table-scales-cell ng-show="!effectsTableInfo[row.dataSource.id].hasStudyData || !showStudyData.value" scales="scales[row.dataSource.id][alternative.id]"
              uncertainty="effectsTableInfo[row.dataSource.id].studyDataLabelsAndUncertainty[alternative.id].hasUncertainty || effectsTableInfo[criterion.id].distributionType === 'relative'"></effects-table-scales-cell>
            <div ng-if="effectsTableInfo[row.dataSource.id].hasStudyData && showStudyData.value">
              {{effectsTableInfo[row.dataSource.id].studyDataLabelsAndUncertainty[alternative.id].label}}
            </div>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['references']">
            <a ng-if="row.dataSource.sourceLink" href="{{row.dataSource.sourceLink}}">
              {{row.dataSource.source}}
            </a>
            <span ng-if="!row.dataSource.sourceLink">{{row.dataSource.source}}</span>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['strength']">
            <div ng-if="row.dataSource.strengthOfEvidence">
              <b>SoE: </b>{{row.dataSource.strengthOfEvidence}}</div>
            <div ng-if="row.dataSource.uncertainties">
              <b>Unc: </b> {{row.dataSource.uncertainties}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
