<div ng-if="effectsDisplay === 'deterministic'">
  {{effectLabel}}
</div>

<div ng-if="effectsDisplay === 'deterministicMCDA'">
  <div ng-if="effectValue !== ''">
    {{effectValue}}
  </div>
  <div ng-if="effectValue === ''">
    <effects-table-scales-cell scales="scales" uncertainty="false" workspace-settings="workspaceSettings"
      theoretical-scale="theoreticalScale">
    </effects-table-scales-cell>
  </div>
</div>

<div ng-if="effectsDisplay === 'smaa'">
  <effects-table-scales-cell scales="scales" uncertainty="uncertainty" workspace-settings="workspaceSettings"
    theoretical-scale="theoreticalScale">
  </effects-table-scales-cell>
</div>

<div ng-if="effectsDisplay === 'smaaDistributions'">
  {{distributionLabel}}
</div>

<div ng-if="!isValueView" tooltip="No values entered">
  &nbsp;
</div>
