<div class="grid-x">
  <div class="cell large-8">
    <h4>Effects Table
      <inline-help help-key="effects-table"></inline-help>
    </h4>
  </div>
  <div class="cell large-4">
    <div class="right button-group">
      <workspace-settings edit-mode="editMode"></workspace-settings>
      <button class="button small info clipboard-button" data-clipboard-target="#effectstable">
        <i class="fa fa-clipboard"></i> Copy to clipboard
      </button>
    </div>
  </div>
  <div class="cell">
    <table class="full-width effects-table" id="effectstable">
      <thead>
        <tr>
          <th ng-show="toggledColumns['criteria']">Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th ng-show="toggledColumns['description']">Description</th>
          <th ng-show="toggledColumns['units']">Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
          <th class="text-center" ng-repeat="alternative in alternatives">
            {{alternative.title}}</th>
          <th ng-show="toggledColumns['strength']">Strength of evidence / Uncertainties
            <inline-help help-key="strength-of-evidence"></inline-help>
            <inline-help help-key="uncertainties"></inline-help>
          </th>
          <th ng-show="toggledColumns['references']">References
            <inline-help help-key="criterion-source"></inline-help>
          </th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat="row in rows">
          <td ng-if="row.isHeaderRow" class="group-header" colspan="{{5 + nrAlternatives}}">
            <div class="main-header">
              {{row.headerText}}
            </div>
          </td>
          <td ng-if="!row.isHeaderRow && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}"
            ng-show="toggledColumns['criteria']">
            {{row.criterion.title}}
          </td>
          <td ng-if="!row.isHeaderRow && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}"
            ng-show="toggledColumns['description']">
            {{row.criterion.description}}
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['units']">
            <span ng-hide="!isValueView && row.isProportion">
              {{row.dataSource.unitOfMeasurement}}
            </span>
          </td>
          <td ng-if="!row.isHeaderRow" class="text-center" ng-repeat="alternative in alternatives"
            ng-style="isValueView && !isCellAnalysisViable[row.dataSource.id][alternative.id] ? {'background-color':'#f3d3c8'} : {}">
            <div ng-if="!isValueView || isCellAnalysisViable[row.dataSource.id][alternative.id]">
              <effects-table-cell effects-table-info="effectsTableInfo[row.dataSource.id]"
                workspace-settings="workspaceSettings" scales="scales[row.dataSource.id][alternative.id]"
                theoretical-scale="row.dataSource.scale" alternative-id="alternative.id">
              </effects-table-cell>
            </div>
            <div ng-if="isValueView && !isCellAnalysisViable[row.dataSource.id][alternative.id]" style="opacity: 0.5;"
              tooltip="Cells containing text or that are empty can not be used for analysis">
              No data
            </div>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['strength']">
            <div ng-if="row.dataSource.strengthOfEvidence">
              <b>SoE: </b>{{row.dataSource.strengthOfEvidence}}</div>
            <div ng-if="row.dataSource.uncertainties">
              <b>Unc: </b> {{row.dataSource.uncertainties}}</div>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['references']">
            <a ng-if="row.dataSource.sourceLink" href="{{row.dataSource.sourceLink}}">
              {{row.dataSource.source}}
            </a>
            <span ng-if="!row.dataSource.sourceLink">{{row.dataSource.source}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
