<div ng-if="effectsDisplay === 'deterministic'">
  {{effectLabel}}
  <span ng-if="effectLabel === ''" tooltip="No values entered">
    &nbsp;
  </span>
</div>

<div ng-if="effectsDisplay === 'deterministicMCDA'">
  <div ng-if="effectValue !== ''">
    {{effectValue}}
  </div>
  <div ng-if="effectValue === ''">
    <effects-table-scales-cell scales="scales" uncertainty="false" theoretical-scale="theoreticalScale">
    </effects-table-scales-cell>
  </div>
</div>

<div ng-if="effectsDisplay === 'smaa'">
  <effects-table-scales-cell scales="scales" uncertainty="uncertainty" theoretical-scale="theoreticalScale">
  </effects-table-scales-cell>
</div>

<div ng-if="effectsDisplay === 'smaaDistributions'">
  {{distributionLabel}}
  <span ng-if="distributionLabel === ''" tooltip="No values entered">
    &nbsp;
  </span>
</div>
