<form ng-submit="save()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Columns to be shown</h3>
      </div>
      <div class="cell">
        <button class="button small" type="button" ng-click="selectAll()">(De)select all</button>
      </div>
      <div class="cell">
        <input type="checkbox" ng-model="toggledColumns['criteria']" id="checkCriteriaColumn"><label for="checkCriteriaColumn">Criterion</label>
      </div>
      <div class="cell">
        <input type="checkbox" ng-model="toggledColumns['description']" id="checkDescriptionColumn"><label for="checkDescriptionColumn">Description
      </div>
      <div class="cell">
        <input type="checkbox" ng-model="toggledColumns['units']" id="checkUnitsColumn"><label for="checkUnitsColumn">Units
      </div>
      <div class="cell">
        <input type="checkbox" ng-model="toggledColumns['references']" id="checkReferencesColumn"><label for="checkReferencesColumn">Reference
      </div>
      <div class="cell">
        <input type="checkbox" ng-model="toggledColumns['strength']" id="checkStrengthColumn"><label for="checkStrengthColumn">Uncertainties / Strength of evidence
      </div>
      <div class="cell">
        <button class="button" type="submit">Save</button>
      </div>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>