<div class="grid-container">
  <form ng-submit="save()">
    <div class="grid-x">
      <div class="cell">
        <h2>Add alternative</h2>
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        <input type="text" ng-model="alternative.title" ng-change="checkErrors()">
      </div>
      <div class="cell" ng-show="errors.length">
        <em ng-repeat="error in errors" class="alert">
          {{error}}
          <br>
        </em>
      </div>
    </div>
    <div class="cell">
      <button class="button" type="submit" ng-disabled="errors.length">Add</button>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
