<div class="grid-container">
  <form ng-submit="addCriterion(criterion)">
    <div class="grid-x">
      <div class="cell">
        <h2>{{isAddOperation ? 'Add' : 'Edit'}} criterion</h2>
      </div>
      <div class="cell">
        <label>
          Title
        </label>
        <input type="text" ng-model="criterion.title" ng-change="isCreationBlocked()">
      </div>
      <div class="cell">
        <label>Unit of measurement (optional)
          <inline-help help-key="criterion-unit"></inline-help>
        </label>
        <input type="text" ng-model="criterion.unitOfMeasurement">
      </div>
      <div class="cell">
        <label>Description (optional)</label>
        <input type="text" ng-model="criterion.description">
      </div>
      <div class="cell" ng-if="useFavorability">
        <label>Favorability
          <inline-help help-key="favorability"></inline-help>
        </label>
        <input type="radio" ng-model="criterion.isFavorable" ng-value="false" id="not-favorable">
        <label for="not-favorable">Not favorable</label>
        <input type="radio" ng-model="criterion.isFavorable" ng-value="true" id="favorable">
        <label for="favorable">Favorable</label>
      </div>
      <div class="cell" ng-if="criterion.dataSources.length === 1">
        <input-data-source source="criterion.dataSources[0]" is-invalid-source-link="sourceLinkValidity" 
        change-callback="isCreationBlocked"></input-data-source>
      </div>
      <div class="cell button-group">
        <button class="button" ng-disabled="blockedReasons.length" type="submit">{{isAddOperation ? 'Add' : 'Done'}}</button>
      </div>
      <div class="cell" ng-when="blockedReasons.length">
        <em ng-repeat="blockedReason in blockedReasons" class="alert">{{blockedReason}}
          <br>
        </em>
      </div>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
