<div class="grid-container">
  <form ng-submit="addDataSource(dataSource)">
    <div class="grid-x">
      <div class="cell">
        <h2>{{oldDataSource ? 'Edit' : 'Add'}} data source for {{criterion.title}}</h2>
      </div>
      <div class="cell">
        <input-data-source source="dataSource" is-invalid-source-link="sourceLinkValidity" change-callback="checkError"></input-data-source>
      </div>
      <div class="cell" ng-show="errors.length">
        <em ng-repeat="error in errors" class="alert">
          {{error}}
          <br>
        </em>
      </div>
    </div>
    <div class="cell">
      <button class="button" type="submit" ng-disabled="errors.length">{{oldDataSource ? 'Edit' : 'Add'}}</button>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
