<form ng-submit="save()">
  <div class="grid-x">
    <div class="cell">
      <h3>Edit Strength of Evidence / Uncertainties</h3>
    </div>
    <div class="cell">
      <label>Strength of Evidence</label>
      <input type="text" ng-model="values.strengthOfEvidence">
    </div>
    <div class="cell">
      <label>Uncertainties</label>
      <input type="text" ng-model="values.uncertainties">
    </div>
    <div class="cell">
      <button class="button" type="submit">Save</button>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
