<form ng-submit="save()">
  <div class="grid-x">
    <div class="cell">
      <h3>Edit unit of measurement</h3>
    </div>
    <div class="cell">
      <label>Unit of measurement</label>
      <select id="unit-of-measurement-selector" ng-model="values.selectedOption" ng-change="unitOptionChanged()"
        ng-options="option as option.label for option in unitOptions track by option.type"></select>
    </div>
    <div class="cell">
      <label>Label</label>
      <input id="uom-label" type="text" ng-disabled="values.selectedOption.type !== 'custom'" ng-model="values.value"
        ng-change="validateInput()">
    </div>
    <div class="cell large-6">
      <label>Lower bound</label>
      <select id="lower-bound-selector" ng-options="lowerBound as lowerBound for lowerBound in lowerBoundOptions"
        ng-disabled="values.selectedOption.type !== 'custom'" ng-model="values.lowerBound"></select>
    </div>
    <div class="cell large-6">
      <label>Upper bound</label>
      <select id="upper-bound-selector" ng-options="upperBound as upperBound for upperBound in upperBoundOptions"
        ng-disabled="values.selectedOption.type !== 'custom'" ng-model="values.upperBound"></select>
    </div>

    <div class="cell">
      <button id="uom-save-button" class="button" type="submit">Save</button>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
