<a dropdown-toggle="#editCellToggle-{{criterion.hash}}-{{treatment.hash}}" ng-style="inputData.isInvalid ? {color:'red'} : {}" ng-click="cacheInput()">{{inputData.label}}</a>
<div id="editCellToggle-{{criterion.hash}}-{{treatment.hash}}" class="row f-dropdown" ng-keyup="keyCheck($event)" ng-keydown="keyCheck($event)" ng-keypress="keyCheck($event)">
  <!-- dichotomous -->
  <div class="columns large-6" ng-if="studyType === 'dichotomous'">
    <label> Count (subject with event)
      <input type="number" ng-model="inputState.count" step="1">
    </label>
  </div>
  <div class="columns large-6" ng-if="studyType === 'dichotomous'">
    <label> Sample size (N)
      <input type="number" ng-model="inputState.sampleSize" step="1">
    </label>
  </div>
  <!-- countinuous -->
  <div class="columns large-3" ng-if="studyType === 'continuous'">
    <label>
      Parameter type
      <select ng-model="continuous.type" ng-options="option as option for option in ['standard deviation','standard error']"></select>
    </label>
  </div>
  <div class="columns large-3" ng-if="studyType === 'continuous'">
    <label> &mu;
      <input type="number" ng-model="inputState.mu">
    </label>
  </div>
  <!-- with standard error -->
  <div class="columns large-3" ng-if="studyType === 'continuous' && continuous.type === 'standard error'">
    <label> Standard error
      <input type="number" ng-model="inputState.stdErr">
    </label>
  </div>
  <div class="columns large-3" ng-if="studyType === 'continuous' && continuous.type === 'standard error'">
    <label> Sample size (N)
      <input type="number" ng-model="inputState.sampleSize">
    </label>
  </div>
  <!-- with standard deviation -->
  <div class="columns large-6" ng-if="studyType === 'continuous' && continuous.type === 'standard deviation'">
    <label> &sigma;
      <input type="number" ng-model="inputState.sigma">
    </label>
  </div>
</div>