<a dropdown-toggle="#editCellToggle-{{criterion.hash}}-{{treatment.hash}}" ng-style="inputData.isInvalid ? {color:'red'} : {}" ng-click="cacheInput()">{{inputData.label}}</a>
<div id="editCellToggle-{{criterion.hash}}-{{treatment.hash}}" class="row f-dropdown" ng-keyup="keyCheck($event)" ng-keydown="keyCheck($event)" ng-keypress="keyCheck($event)">
  <div class="columns large-4">
    <label>Distribution
      <select ng-model="inputState.type" ng-options="distributionOption.type as distributionOption.name for distributionOption in distributionOptions"></select>
    </label>
  </div>
  <!-- first values -->
  <div class="columns large-4" ng-if="inputState.type === 'dbeta'">
    <label> &alpha;
      <input type="number" ng-model="inputState.alpha" ng-model-options="{ debounce: 300 }" step="1">
    </label>
  </div>
  <div class="columns large-4" ng-if="inputState.type === 'dnorm'">
    <label> &mu;
      <input type="number" ng-model="inputState.mu" ng-model-options="{ debounce: 300 }">
    </label>
  </div>
  <div class="columns large-8" ng-if="inputState.type === 'exact'">
    <label> value
      <input type="number" ng-model="inputState.value" ng-model-options="{ debounce: 300 }">
    </label>
  </div>
  <!-- second values -->
  <div class="columns large-4" ng-if="inputState.type === 'dbeta'">
    <label> &beta;
      <input type="number" ng-model="inputState.beta" ng-model-options="{ debounce: 300 }" step="1">
    </label>
  </div>
  <div class="columns large-4" ng-if="inputState.type === 'dnorm'">
    <label> &sigma;
      <input type="number" ng-model="inputState.sigma" ng-model-options="{ debounce: 300 }">
    </label>
  </div>
</div>
