<dropdown-toggle close-on-click="true">
  <toggle><a ng-style="inputData.isInvalid ? {color:'red'} : {}" ng-click="cacheInput()">{{inputData.label}}</a></toggle>
  <pane ng-keydown="keyCheck($event, $close)" ng-keypress="keyCheck($event, $close)">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-4">
          <label>Distribution
            <select ng-model="inputState.type" ng-options="distributionOption.type as distributionOption.name for distributionOption in distributionOptions"></select>
          </label>
        </div>
        <!-- first values -->
        <div class="cell large-4" ng-if="inputState.type === 'dbeta' || inputState.type === 'dsurv'">
          <label> &alpha;
            <input type="number" ng-model="inputState.alpha" step="1">
          </label>
        </div>
        <div class="cell large-4" ng-if="inputState.type === 'dnorm'">
          <label> &mu;
            <input type="number" ng-model="inputState.mu">
          </label>
        </div>
        <div class="cell large-8" ng-if="inputState.type === 'exact'">
          <label> Value
            <input type="number" ng-model="inputState.value">
          </label>
        </div>
        <!-- second values -->
        <div class="cell large-4" ng-if="inputState.type === 'dbeta' || inputState.type === 'dsurv'">
          <label> &beta;
            <input type="number" ng-model="inputState.beta" step="1">
          </label>
        </div>
        <div class="cell large-4" ng-if="inputState.type === 'dnorm'">
          <label> &sigma;
            <input type="number" ng-model="inputState.sigma">
          </label>
        </div>
      </div>
    </div>
  </pane>
</dropdown-toggle>