<dropdown-toggle close-on-click="true">
  <toggle>
    <a ng-style="inputData.isInvalid ? {color:'red'} : {}" style="white-space: pre-wrap">{{inputData.label}}</a>
  </toggle>
  <pane ng-keydown="keyCheck($event, $close)" ng-keypress="keyCheck($event, $close)">
    <div class="grid-container" style="width: 35rem">
      <div call="grid-x">
        <div class="cell large-6" ng-hide="inputCell.inputType==='distribution' && 
            inputCell.inputMethod === 'assistedDistribution' && inputCell.dataType!=='continuous'">
          <label>
            Input parameters
            <select ng-model="inputCell.inputParameters" 
              ng-options="option as option.label for option in inputParameterOptions track by option.id" 
              ng-change="inputChanged()"></select>
          </label>
        </div>
        <div class="cell large-4">
          <label>
            {{inputCell.inputParameters.firstParameter.label}}
            <input type="number" ng-model="inputCell.firstParameter" ng-change="inputChanged()">
          </label>
        </div>
        <div class="cell large-4" ng-if="inputCell.inputParameters.secondParameter">
          <label>
            {{inputCell.inputParameters.secondParameter.label}}
            <input type="number" ng-model="inputCell.secondParameter" ng-change="inputChanged()">
          </label>
        </div>
        <div class="cell large-4" ng-if="inputCell.inputParameters.thirdParameter">
          <label>
            {{inputCell.inputParameters.thirdParameter.label}}
            <input type="number" ng-model="inputCell.thirdParameter" ng-change="inputChanged()" 
              ng-disabled="inputCell.inputParameters.id === 'continuousMeanConfidenceInterval' && inputCell.isNormal">
          </label>
        </div>
        <div class="cell" ng-if="inputCell.inputParameters.canBeNormal">
          Sampling distribution is approximately normally distributed
          <input type="checkbox" ng-model="inputCell.isNormal" ng-change="updateUpperBound()">
        </div>
        <div class="cell alert" ng-show="error">
          {{error}}
        </div>
      </div>
    </div>
  </pane>
</dropdown-toggle>
