<div class="grid-x">
  <div class="cell">
    <label>Reference
      <inline-help help-key="criterion-source"></inline-help>
    </label>
    <input type="text" ng-model="source.source" ng-change="changeCallback()">
  </div>
  <div class="cell">
    <label>Reference URL (optional)
      <inline-help help-key="criterion-source-link"></inline-help>
    </label>
    <input type="text" ng-model="source.sourceLink" ng-model-options="{ debounce: 400 }" ng-change="checkSourceLink()">
  </div>
  <div class="cell">
    <label>Strength of evidence (optional)
      <inline-help help-key="strength-of-evidence">
    </label>
    <input type="text" ng-model="source.strengthOfEvidence">
  </div>
  <div class="cell">
    <label>Uncertainties (optional)
      <inline-help help-key="uncertainties">
    </label>
    <input type="text" ng-model="source.uncertainties">
  </div>
</div>
