<table>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th ng-if="state.useFavorability">Is favorable?</th>
      <th>Unit of measurement</th>
      <th>Reference</th>
      <th ng-repeat="alternative in state.alternatives" style="min-width:80px">{{alternative.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in criteriaRows">
      <td ng-if="row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}">{{row.criterion.title}}</td>
      <td ng-if="row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}">{{row.criterion.description}}</td>
      </td>
      <td ng-if="state.useFavorability && row.isFirstRow" rowspan="{{row.criterion.numberOfDataSources}}">
        {{row.criterion.isFavorable? 'yes' : 'no'}}</td>
      <td>{{row.dataSource.unitOfMeasurement}}
      <td>{{row.dataSource.source}}</td>
      <td ng-repeat="alternative in state.alternatives">
        <effect-input-helper alternative="alternative" input-type="inputType"
          cell="state.inputData[inputType][row.dataSource.id][alternative.id]" change-callback="checkInputData">
        </effect-input-helper>
      </td>
    </tr>
  </tbody>
</table>
