<div class="row">
  <div class="columns large-8">
    <h3>Create workspace manually — step 1 of 2</h3>
  </div>
</div>
<div class="row">
  <div class="columns large-6">
    <label>Workspace title
      <input type="text" ng-model="title">
    </label>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <div class="columns large-4">
      <h4>Criteria</h4>
    </div>
    <div class="columns large-4">
      <button type="button" class="small" ng-click="openCriterionModal()">Add Criterion</button>
    </div>
    <table>
      <thead>
        <tr>
          <!-- Name (free text, check for duplicates), direction (higher is better OR lower is better, default lower), favorable? (checkbox), unit (free text), and description (free text) -->
          <th>Name</th>
          <th>Direction</th>
          <th>Is favorable?</th>
          <th>Unit</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!criteria.length">
          <td colspan="5"><em>No criteria defined</em></td>
        </tr>
        <tr ng-repeat="criterion in criteria">
          <td>{{criterion.name}}</td>
          <td>{{criterion.direction}}</td>
          <td>{{criterion.isFavorable}}</td>
          <td>{{criterion.unitOfMeasurement}}</td>
          <td>{{criterion.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns large-8">
    <div class="columns large-4">
      <h4>Treatments</h4>
    </div>
    <div class="columns large-4">
      <button type="button" class="small">Add Treatment</button>
    </div>
  </div>
</div>
