<!-- step 1 -->
<div ng-if="state.step==='step1'">
  <div class="row">
    <div class="columns large-12">
      <h3>Create workspace manually — step 1 of 2</h3>
      <h4>Define criteria and treatments</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6">
      <label>Workspace title
        <input type="text" ng-model="state.title" width="100%">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6">
      <label>Workspace description
        <textarea ng-model="state.description" width="100%" rows="5"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <h4>Criteria</h4>
      <button type="button" class="tiny" ng-click="openCriterionModal()">Add Criterion</button>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6">
      <table width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Is favorable?</th>
            <th>Unit</th>
            <th>description</th>
            <th>Source</th>
            <th>Source link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!criteria.length">
            <td colspan="5">
              <em>No criteria defined</em>
            </td>
          </tr>
          <tr ng-repeat="criterion in criteria">
            <td>
              <a ng-click="removeCriterion(criterion)"><i class="fa fa-trash icon-fixed-width" style="color:red"></i></a>
              <a ng-click="openCriterionModal(criterion)"><i class="fa fa-edit icon-fixed-width"></i></a> {{criterion.name}}
            </td>
            <td>{{criterion.isFavorable}}</td>
            <td>{{criterion.unitOfMeasurement}}</td>
            <td>{{criterion.description}}</td>
            <td>{{criterion.source}}</td>
            <td>{{criterion.sourceLink}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <h4>Treatments</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns large-4">
      <label>
        Treatment name:
        <input class="text" ng-model="state.treatmentName" onkeyup="if(event.keyCode===13) document.getElementById('treatmentButton').click()">
      </label>
    </div>
    <div class="columns large-4 end">
      <button ng-disabled="!state.treatmentName || isDuplicateName(state.treatmentName)" type="button" class="tiny" ng-click="addTreatment(state.treatmentName)" id="treatmentButton">Add Treatment</button>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6">
      <table width="100%">
        <thead>
          <tr>
            <th>Treatment name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!treatments.length">
            <td>
              <em>No treatments defined</em>
            </td>
          </tr>
          <tr ng-repeat="treatment in treatments">
            <td><a ng-click="removeTreatment(treatment)"><i class="fa fa-trash icon-fixed-width" style="color:red"></i></a> {{treatment.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <button ng-disabled="!state.title || criteria.length < 2|| treatments.length < 2" type="button" ng-click="goToStep2()">
        Enter data
      </button>
    </div>
    <div class="columns large-12" ng-if="!state.title">
      <em>Missing title</em>
    </div>
    <div class="columns large-12" ng-if="criteria.length < 2">
      <em>Two criteria required</em>
    </div>
    <div class="columns large-12" ng-if="treatments.length < 2">
      <em>Two treatments required</em>
    </div>
  </div>
</div>
<!-- step 2 -->
<div ng-if="state.step==='step2'">
  <div class="row">
    <div class="columns large-12">
      <h3>Create workspace manually — step 2 of 2</h3>
      <h4>Enter data in effects table</h4>
    </div>
  </div>
  <div class="row">
    <div class="columns large-12">
      <h4>Choose input method</h4>
    </div>
    <div class="columns large-12">
      <form>
        <input ng-change="resetData()" type="radio" ng-model="state.inputMethod" value="distribution"> Effect distributions
        <input ng-change="resetData()" type="radio" ng-model="state.inputMethod" value="study"> Study data
      </form>
    </div>
  </div>
  <!-- input through distributions -->
  <div class="row" ng-if="state.inputMethod === 'distribution'">
    <div class="columns large-12">
      <h4>{{state.title}}</h4>
      <table>
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="treatment in treatments" style="min-width:80px">{{treatment.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="criterion in criteria">
            <td>{{criterion.name}}</td>
            <td ng-repeat="treatment in treatments">
              <effect-input criterion="criterion" treatment="treatment" input-data="inputData[criterion.hash][treatment.hash]" change-callback="checkInputData"></effect-input>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- input through source data -->
  <div class="row" ng-if="state.inputMethod === 'study'">
    <div class="columns large-12">
      <h4>{{state.title}}</h4>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Data type</th>
            <th ng-repeat="treatment in treatments" style="min-width:80px">{{treatment.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="criterion in criteria">
            <td>{{criterion.name}}</td>
            <td>
              <select ng-change="resetRow(criterion.hash)" ng-model="state.studyType[criterion.hash]" ng-options="option as option for option in ['dichotomous','continuous']"></select> 
            </td>
            <td ng-repeat="treatment in treatments">
              <effect-input-helper criterion="criterion" treatment="treatment" input-data="inputData[criterion.hash][treatment.hash]" study-type="state.studyType[criterion.hash]" change-callback="checkInputData"></effect-input-helper>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- buttons -->
  <div class="row">
    <div class="columns large-12">
      <button ng-disabled="!state.isInputDataValid" type="button" ng-click="createProblem()">
        Done
      </button>
      <button type="button" ng-click="goToStep1()">Back</button>
      <div ng-if="!state.isInputDataValid">
        <em>Invalid input data</em>
      </div>
    </div>
  </div>
</div>