<div class="row">
  <div class="columns large-12">
    <h3>Create workspace manually — step 2 of 2</h3>
    <h4>Enter data</h4>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <h4>{{title}}</h4>
  </div>
  <table>
    <thead>
      <tr ng-repeat="treatment in treatments">
        <th>{{treatment.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="criterion in criteria">
        <td>{{criterion.name}}</td>
        <td ng-repeat="treatment in treatments"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="columns large-12">
    <button type="button" ng-click="createProblem()">
      Done
    </button>
  </div>
</div>
