<div>
  <h5>{{criterion.title}}</h5>

  <div style="width: 250px; height: 180px">
    <line-chart ng-if="isPVFDefined(criterion)" value="graphInfo.values" show-legend="false"></line-chart>
    <div ng-if="!isPVFDefined(criterion)" style="padding-top: 40px; text-align: center; margin: 0">
      <i style="font-size: 100px" class="fa fa-question"></i>
    </div>
  </div>
  <button ng-if="editMode().isUserOwner" ng-disabled="!isScaleRangePresent()" ng-click="openWizard()">Define partial value function</button>
  <modal model="definePVFModal">
    <div class="row">
      <div class="columns 12-large">
        <h3>Define Partial Value Functions</h3>

        <div ng-if="pvfWizardStep.step === 'elicit type'">
          <p>The partial value functions (<abbr title="partial value function">PVF</abbr>)
            define the mapping between the measurement values and the
            utility of that value.</p>

            <div class="row">
              <div class="large-4 columns">
                {{criterion.title}}
                <label>
                  <input type="radio"
                  ng-model="criterion.pvf.direction"
                  value="decreasing"
                  ng-selected="criterion.pvf.direction =='decreasing'">
                  {{criterion.pvf.range[0] | number: 3}} is best
                </label>
                <label>
                  <input type="radio"
                  ng-model="criterion.pvf.direction"
                  value="increasing"
                  ng-selected="criterion.pvf.direction == 'increasing'">
                  {{criterion.pvf.range[1] | number: 3}} is best
                </label>

                Type of function
                <label><input type="radio" ng-model="criterion.pvf.type" value="linear">Linear</label>
                <label><input type="radio" ng-model="criterion.pvf.type" value="piecewise-linear">Piece-wise linear</label>

                <button class="small button" ng-click="definePVFModal.closeCancel()">Cancel</button>

                <button class="small success button"
                ng-if="criterion.pvf.type != 'piecewise-linear'"
                ng-click="save(criterion)"
                ng-disabled="!criterion.pvf.direction || !criterion.pvf.type">Save</button>

                <button class="small button"
                ng-if="criterion.pvf.type === 'piecewise-linear'"
                ng-click="goToElicitCutoffsStep()"
                ng-disabled="!criterion.pvf.direction || !criterion.pvf.type">Next</button>
              </div>
            </div>
          </div> <!-- / subType == null -->

          <div ng-if="pvfWizardStep.step === 'elicit cutoffs'">
            <h4>{{criterion.title}}</h4>
            <p>Define the reference levels needed to elict the piecewise <abbr title="partial value function">PVF</abbr>: </p>
            <ul>
              <li><b>{{criterion.best() | number: 3}}</b></li>
              <li ng-repeat="cutoff in criterion.pvf.cutoffs">{{cutoff}}</li>
              <li><b>{{criterion.worst() | number: 3}}</b></li>
            </ul>

            <form novalidate name="addCutoffForm" ng-class="{error: !validCutoff(cutoff)}" >
              <div class="row collapse">
                <div class="large-6 columns">
                  <input paceholder="Cutoff at..." ng-model="cutoff" type="number" name="cutoff"></input>
                </div>
                <div class="large-2 pull-4 columns">
                  <button class="small"
                  ng-disabled="!validCutoff(cutoff)"
                  ng-click="addCutoff(cutoff)"> Add </button>
                </div>
              </div>
            </form>
            <button class="small button" ng-click="definePVFModal.closeCancel()">Cancel</button>
            <button class="small button" ng-click="pvfWizardStep.step = 'elicit type'">Previous</button>
            <button class="small button" ng-click="goToElicitValuesStep()" ng-disabled="criterion.pvf.cutoffs.length === 0">Next</button>
          </div> <!-- / subType == 'elicit cutoffs' -->

          <div ng-if="pvfWizardStep.step == 'elicit values'">
            <h4>{{criterion.title}}</h4>

            <div class="row" ng-repeat="baseItem in criterion.base">
              <div class="columns">
                <p>Compare the attractiveness of {{baseItem | number: 3}} to these other options:</p>
                <ul class="no-bullet">

                  <li ng-repeat="compItem in criterion.comp[$index]">
                    <label class="columns large-9">
                      <span style="display: inline-block; width: 12em">Compared to {{compItem | number: 3}}, I</span>
                      <select ng-options="preference.label for preference in preferenceOptions track by preference.level"
                      ng-change="calculate()"
                      ng-model="criterion.preferences[$parent.$index][$parent.$index + $index + 1]"
                      style="width: 14em; display: inline-block;">
                      <option value="">-- undefined --</option>
                    </select>
                    prefer {{baseItem | number: 3}}.
                  </label>
                </li>

              </ul>
            </div>
          </div>
          <div class="row">
            <div class="columns">
              <div  style="height: 300px;">
                <line-chart value="graphInfo.values"></line-chart>
              </div>
            
            <button class="small button" ng-click="definePVFModal.closeCancel()">Cancel</button>
            <button class="small button" ng-click="pvfWizardStep.step = 'elicit cutoffs'">Previous</button>
            <button class="small button" ng-click="save()" ng-disabled="!consistency.isConsistent">Save</button>
              <span ng-show="!consistency.isConsistent" style="color: red">Inconsistent preferences</span>
            </div>
          </div>
        </div>


      </div>
    </div>
  </modal>
</div>
