<div class="results-container large-4 columns">
  <div id="results"
       ng-class="{loading: !currentStep.results && !currentStep.error, failed: currentStep.error}">
    <div class="loader">
      <div class="progress" style="width: 70%">
        <span class="meter" ng-style="{width: (currentStep.progress || 0) + '%'}"></span>
      </div>
    </div>

    <div style="width: 400px; height: 400px" class="graph">
      <rank-plot value="currentStep.results.ranks.data" stacked="true" problem="currentStep.problem"></rank-plot>
    </div>
  </div>
</div>
