<div style="display: inline; outline: none" tabindex="1" ng-show="editMode.isUserOwner">
  <a class="mcda-dropdown-button" dropdown-toggle="#dropdown-remark{{$id}}">
    <i class="fa fa-pencil"></i>
  </a>

  <div id="dropdown-remark{{$id}}" class="f-dropdown mcda-dropdown">
    <div class="mcda-dropdown-content">
      <h5>Remark:</h5>
      <textarea autofocus ng-model="remark" contenteditable="true" cols="10" rows="4" style="height: 100px;" class="fontsize" required="required"></textarea>
      <div class="button-group">
        <a class="button small remarkbutton" ng-click="cancelRemarks();show=!show" ng-class="{'active': show}">Cancel</a>
        <a class="button small success remarkbutton" ng-click="saveRemarks()">Save remark</a>
      </div>
    </div>
  </div>
</div>
