<!DOCTYPE html>
<html ng-app="elicit">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <title>mcda.drugis.org</title>
  <%= htmlWebpackPlugin.options.matomo %>
</head>

<!-- added inline style to override drugis general styling to clean fixed breadcrumbbar -->

<body class="f-topbar-fixed">
  <navbar-directive>
  </navbar-directive>

  <error-reporting></error-reporting>

  <div ui-view class="grid-container"></div>
  <div class="push"></div>

  <script>
    if (window.location.host.indexOf('test') > -1) {
      document.body.className += ' test';
      document.title = 'test-' + document.title;
    }
  </script>

</body>

</html>
