<!DOCTYPE html>
<html ng-app="temp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <title>mcda.drugis.org manual</title>

    <style type="text/css">
      #scrollUp {
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #555;
        color: #fff;
      }

      .figure {
        text-align: center;
        margin-bottom: 1em;
      }

      .figure img {
        padding: 5px;
        border: 1px solid gray;
      }

      .figure .caption {
        font-style: italic;
      }

      #mcda-shared-toc ol {
        list-style-type: none;
        background-color: #f4f4f4;
        margin-left: 0;
        padding-left: 1em;
      }

      #mcda-shared-toc li {
        font-size: 0.875rem;
      }

      #mcda-shared-toc li a {
        display: block;
        margin: 0;
        padding: 0.4375rem 0.875rem;
      }

      #mcda-shared-toc li a:hover,
      #mcda-shared-toc li a:focus {
        background: rgba(0, 0, 0, 0.025);
        color: #7056c6;
      }

      #mcda-shared-toc .node-name--H2 {
        text-transform: uppercase;
        font-weight: bold;
      }
    </style>
    <%= htmlWebpackPlugin.options.matomo %>
  </head>
  <!-- added inline style to override drugis general styling to clean fixed breadcrumbbar -->

  <body>
    <div
      class="alert-box warning"
      style="display: none; margin-bottom: 0px"
      id="browserCheck"
    >
      Your browser, <span id="browserVersion1"></span>, is <b>out of date</b>.
      It has known <b>security flaws</b> and will
      <b>not run this web application correctly</b>.
      <br />
      <a href="http://browser-update.org/update-browser.html#drugis.org"
        >Please update your browser</a
      >
      before continuing.
    </div>
    <div
      class="alert-box warning"
      style="display: none; margin-bottom: 0px"
      id="browserUnknown"
    >
      Your browser is unknown to us. This web application may or may not work
      correctly using it. Proceed at your own risk, or
      <a href="http://browser-update.org/update-browser.html#drugis.org"
        >download a well-known browser</a
      >
      before continuing.
    </div>
    <script type="text/javascript">
      if (bowser.c || (bowser.msie && bowser.version <= 8)) {
        document.getElementById('browserVersion1').innerHTML =
          bowser.name + ' ' + bowser.version;
        document.getElementById('browserCheck').style.display = 'block';
      }
      if (bowser.x) {
        document.getElementById('browserUnknown').style.display = 'block';
      }
    </script>
    <div class="fixed">
      <div class="top-bar">
        <div class="top-bar-left bar-padding">
          <ul class="menu">
            <li>
              <a id="logo" href="/">mcda.drugis.org</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section id="hero">
      <div class="grid-x">
        <div class="cell large-offset-2 large-8 medium-12 end">
          <h1 id="manual-title-header">
            mcda.drugis.org<br /><small>User manual</small>
          </h1>
          <p style="margin-top: 30px; color: white">
            Douwe Postmus, Daan Reid and Gert van Valkenhoef
          </p>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="grid-container">
        <div class="grid-x">
          <div class="grid-x grid-margin-x">
            <div class="cell large-3">
              <div id="mcda-shared-toc" class="toc" data-toc="h2, h3, h4"></div>
            </div>
            <div class="js-toc-content cell large-9 medium-12 end">
              <h2 id="mcda-introduction">Introduction</h2>
              <p>
                This is the manual for the MCDA user interface for benefit-risk
                analysis. It starts with instructions about creating a workspace
                (based on a dataset), followed by a brief introduction to
                benefit-risk analysis based on the ADDIS MCDA user interface,
                followed by a more thorough theoretical discussion of the
                analytical methods.
              </p>
              <p>
                💡 A guided tutorial is also available
                <a
                  href="https://github.com/drugis/mcda-elicitation-web/raw/master/tutorials/00_mcda_tutorial.pdf"
                  >here</a
                >.
              </p>
              <h3 id="mcda-preparing-dataset">Preparing your dataset</h3>
              <p>
                This section only applies to the stand-alone version of MCDA,
                hosted on
                <a href="https://mcda.drugis.org/" target="_blank"
                  >https://mcda.drugis.org/</a
                >. In ADDIS (<a href="https://addis.drugis.org/" target="_blank"
                  >https://addis.drugis.org/</a
                >), this step is not necessary.
              </p>
              <p>
                After signing in to MCDA, you are on your personal home page. It
                contains a list of your previously-created workspaces (which
                will be empty until you create one). Any unfinished workspaces
                in the process of manual entry will also be shown here. A
                <i>workspace</i> is an abstract container for a set of evidence,
                plus any filterings, preference elicitations and analyses you
                may have performed based on that set of evidence. Clicking the
                'Create workspace' button will open a dialog that lets you
                choose what to base your workspace on: an example dataset
                selected by us, a file uploaded by you, or manual entry by you.
              </p>
              <h4 id="data-upload">Data upload</h4>
              <p>
                Datasets can be uploaded in
                <a href="http://www.json.org/">JSON</a> format, and must follow
                our
                <a
                  href="https://github.com/drugis/mcda-elicitation-web/tree/master/schema"
                  >JSON schema</a
                >, with the `schemaversion` property indicating which version of
                the schema the file follows. A list of examples is available on
                the
                <a
                  href="https://github.com/drugis/mcda-elicitation-web/tree/master/examples"
                  target="_blank"
                  >MCDA repository</a
                >.
              </p>
              <h4 id="mcda-manual-entry">Manual entry</h4>
              <p>
                Selecting the 'Manual entry' option in the workspace creation
                dialog takes you to the manual workspace creation screen. Here,
                you can input the title, therapeutic context, criteria, and
                alternatives as well as the measurement data that you wish to
                use in your analyses.
              </p>
              <p>
                The layout of the manual entry interface mirrors that of the
                Effects Table as required by the EMA in the
                <a href="https://www.benefit-risk-assessment.com/proact-url/"
                  >PrOACT-URL framework</a
                >. You can toggle whether you wish to separate the criteria into
                favourable and unfavourable ones. You can add alternatives,
                criteria and data sources by clicking the '+' button in the
                appropriate place. When creating a criterion, one data source is
                automatically created for it. All text elements such as criteria
                and alternative names can be edited by clicking on them. The
                same goes for data cells, which are automatically created as the
                table size changes with the addition or deletion of
                alternatives, criteria and data sources.
              </p>
              <div class="figure">
                <img src="img/manualEntry.png" />
                <div class="caption">
                  Manual entry, effects input mode. Controls to add
                  alternatives, criteria and data sources are outlined in red.
                </div>
              </div>
              <p>
                Measurement data can be entered either as effects (e.g. point
                estimates, confidence intervals or ranges) or as distributions
                (e.g. normal, Beta, Gamma). The effects will be used in
                <a href="#mcda-deterministic-analysis">deterministic analysis</a
                >, whereas distributions will be used in
                <a href="#mcda-smaa-theory">stochastic analysis (SMAA)</a>.
                After entering effects data, it is possible to have the system
                automatically create distributions based on the effects by
                clicking the 'Generate Distributions' button at the bottom of
                the page.
              </p>
              <p>
                Any changes you make are automatically saved. You can click this
                in-progress workspace from your personal homepage later, and
                continue where you left off.
              </p>
              <p>
                Once you are satisfied with your data table, you can click the
                'Done' button and proceed with your MCDA process based on this
                data.
              </p>
              <div id="mcda-shared-content"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
