<div>
  <form ng-submit="createProblemConfiguration()">
    <div class="grid-x">
      <div class="cell large-6">
        <h2>
          Save new problem
        </h2>
      </div>
    </div>
    <div class="grid-x">
      <div class=cell large-6>
        Enter new problem name
      </div>
    </div>
    <div class="grid-x">
      <div class="cell large-6">
        <input type="text" ng-change="checkDuplicateTitle(subProblemState.title)" ng-model="subProblemState.title">
      </div>
      <div class="cell large 6">
        <span style="display:block" class="alert" ng-if="isTitleDuplicate">
          <em>&nbsp;Duplicate name</em>
        </span>
      </div>
      <div class="cell large 6">
        <span style="display:block" class="alert" ng-if="!subProblemState.title">
          <em>&nbsp;No name entered</em>
        </span>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <h4>Criterion selection</h4>
        <table class="full-width effects-table">
          <thead>
            <tr>
              <th>Criterion</th>
              <th>Description</th>
              <th>Units</th>
              <th class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives">
                <span ng-if="isBaseline[alternativeKey]" tooltip="Cannot deselect baseline">
              <label>
                <input type="checkbox" ng-model="subProblemState.alternativeInclusions[alternativeKey]" ng-disabled="true"> {{alternative.title}}
              </label>
            </span>
                <span ng-if="!isBaseline[alternativeKey]">
              <label>
                <input type="checkbox" ng-model="subProblemState.alternativeInclusions[alternativeKey]" ng-change="updateInclusions()" ng-disabled="subProblemState.alternativeInclusions[alternativeKey] && subProblemState.numberOfAlternativesSelected < 3"> {{alternative.title}}
              </label>
           </span>
              </th>
            </tr>
          </thead>
          <tbody class="main">
            <tr ng-repeat="(criterionKey, criterion) in problem.criteria">
              <td>
                <label>
                  <input type="checkbox" ng-model="subProblemState.criterionInclusions[criterionKey]" ng-change="updateInclusions()" ng-disabled="subProblemState.criterionInclusions[criterionKey] && subProblemState.numberOfCriteriaSelected < 3"> {{criterion.title}}
                </label>
              </td>
              <td>
                <div class="td-container">
                  <div class="td-content">{{criterion.description}}</div>
                  <div class="td-spacer">{{criterion.description}}</div>
                  <span>&nbsp;</span>
                </div>
              </td>
              <td>{{criterion.unitOfMeasurement}}</td>
              <td class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives" name="col{{$index}}" id="col{{$index}}">
                <div>
                  {{scales.observed[criterionKey][alternativeKey]['50%'] | number}}
                  <br>
                  <div class="uncertain" ng-if="!isExact(criterionKey, alternativeKey)">
                    {{scales.observed[criterionKey][alternativeKey]['2.5%'] | number}}, {{scales.observed[criterionKey][alternativeKey]['97.5%'] | number}}</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <h2>Define Scale Range</h2>
        <p>Defining measurement scales is important because they provide the reference levels at which trade-offs between criteria are assessed. Without these reference levels statements about the relative importance of different criteria would be meaningless.</p>
        <p>The area in red indicates the estimated 95% Credible Interval (CrI) of the measurements and should not be moved into.</p>
      </div>
      <div class="cell">
        <ul class="no-bullet">
          <li ng-repeat="(key, criterion) in criteria">
            <h5 class="subheader"><criterion of="criterion"></criterion></h5>
            <div class="grid-x">
              <div class="cell large-1 text-center">
                <a ng-click="scalesState[key].increaseFrom()" class="tiny round button slider-buttons">&lt;</a>
              </div>
              <div class="cell large-10">
                <rzslider rz-slider-model="choices[key].from" rz-slider-high="choices[key].to"
                  rz-slider-options="scalesState[key].sliderOptions"></slider>
              </div>
              <div class="cell large-1 pull-3 text-center">
                <a ng-click="scalesState[key].increaseTo()" class="tiny round button slider-buttons">&gt;</a>
              </div>
            </div>
            <br>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell large-6">
        <button class="button success" type="submit" ng-disabled="isTitleDuplicate || !subProblemState.title">Create</button>
        <button class="button" type="button" ng-click="reset()">Reset to default</button>
      </div>
    </div>
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>