<div class="grid-x">
  <div class="cell">
    <span>Problem:</span>
    <select id="subproblem-selector" class="scenario-select" ng-model="subProblem"
      ng-options="subProblem.title for subProblem in subProblems track by subProblem.id"
      ng-change="subProblemChanged(subProblem)"></select>
    <inline-help help-key="problem"></inline-help>
    <a id="edit-subproblem-button" ng-if="editMode.canEdit" ng-click="editSubProblemTitle()"
      tooltip="Edit current problem title.">
      <i class="fa fa-edit"></i>
    </a>
    <a id="create-subproblem-button" ng-if="isStandalone && editMode.canEdit" ng-click="openCreateDialog()"
      tooltip="Create new problem.">
      <i class="fa fa-plus"></i>
    </a>
    <a id="delete-subproblem-button" ng-if="isStandalone && editMode.canEdit && subProblems.length > 1" ng-click="deleteSubproblem()"
      tooltip="Delete current problem." class="fa fa-trash" style="color : red">
    </a>
    <i id="delete-subproblem-disabled" ng-if="editMode.canEdit && subProblems.length === 1"
      tooltip="Cannot delete problem if there is only 1 problem." class="fa fa-trash" style="color: gray"></i>
  </div>
</div>
<br>
<div class="grid-x underlined-div">
  <div class="cell">
    <effects-table criteria="criteria" alternatives="alternatives" edit-mode="editMode"
      effects-table-info="effectsTableInfo" scales="scales.observed"></effects-table>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-10">
    <h4>Scale Ranges
      <inline-help help-key="scale-ranges"></inline-help>
    </h4>
  </div>
  <div class="cell large-2">
    <button data-ng-if="!areTooManyDataSourcesIncluded && !hasRowWithOnlyMissingValues"
      class="button small info clipboard-button right" data-clipboard-target="#scalestable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div id="no-scales-warning-0" class="cell" ng-if="areTooManyDataSourcesIncluded">
    <i class="fa fa-exclamation-triangle"></i> Multiple data sources selected for at least one criterion, therefore no scales can be set.
  </div>
  <div id="no-scales-warning-1" class="cell" ng-if="hasRowWithOnlyMissingValues">
    <i class="fa fa-exclamation-triangle"></i> Criterion with only missing or text values selected, therefore no scales can be set.
  </div>
  <div class="cell" ng-if="!areTooManyDataSourcesIncluded && !hasRowWithOnlyMissingValues">
    <table class="full-width" id="scalestable">
      <thead>
        <tr>
          <th>Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th>Theoretical Range
            <inline-help help-key="theoretical-range"></inline-help>
          </th>
          <th>Observed Range
            <inline-help help-key="observed-range"></inline-help>
          </th>
          <th>Configured Range
            <inline-help help-key="configured-range"></inline-help>
          </th>
          <th>Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in scaleTable">
          <td>{{row.criterion.title}}</td>
          <td class="text-centered">
            <!-- theo -->
            {{row.dataSource.scale[0] | number}},
            {{row.dataSource.scale[1] | number}}</td>
          <td class="text-centered">
            <!-- obs -->
            <span ng-bind="row.intervalHull[0]"></span> ,
            <span ng-bind="row.intervalHull[1]"></span>
          </td>
          <td class="text-centered">
            <!-- conf -->
            <span ng-if="row.dataSource.pvf.range.length">
              {{significantDigits(row.dataSource.pvf.range[0])}},
              {{significantDigits(row.dataSource.pvf.range[1])}}
            </span>
            <span ng-if="!row.dataSource.pvf.range.length">
              <span ng-bind="row.intervalHull[0]"></span> ,
              <span ng-bind="row.intervalHull[1]"></span>
            </span>
          </td>
          <td>{{row.dataSource.unitOfMeasurement.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
