<div class="grid-x">
  <div class="cell">
    <span>Problem:</span>
    <select id="subproblem-selector" class="scenario-select" ng-model="subProblem"
      ng-options="subProblem.title for subProblem in subProblems track by subProblem.id"
      ng-change="subProblemChanged(subProblem)"></select>
    <inline-help help-key="problem"></inline-help>
    <a id="edit-subproblem-button" ng-if="editMode.isUserOwner" ng-click="editSubProblemTitle()" tooltip="Edit current problem title">
      <i class="fa fa-edit"></i>
    </a>
    <a id="create-subproblem-button" ng-if="editMode.isUserOwner" ng-click="openCreateDialog()" tooltip="Create new problem">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
<br>
<div class="grid-x underlined-div">
  <div class="cell">
    <effects-table criteria="criteria" alternatives="alternatives" edit-mode="editMode"
      effects-table-info="effectsTableInfo" scales="scales.observed"></effects-table>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-10">
    <h4>Scale Ranges
      <inline-help help-key="scale-ranges"></inline-help>
    </h4>
  </div>
  <div class="cell large-2">
    <button data-ng-if="!areTooManyDataSourcesIncluded && !hasRowWithOnlyMissingValues" class="button small info clipboard-button right"
      data-clipboard-target="#scalestable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell error" ng-if="areTooManyDataSourcesIncluded">
    <em>Multiple data sources selected for at least one criterion, therefore no scales can be set.</em>
  </div>
  <div class="cell error" ng-if="hasRowWithOnlyMissingValues">
    <em> Criterion with only missing or text values selected, therefore no scales can be set.</em>
  </div>
  <div class="cell" ng-if="!areTooManyDataSourcesIncluded && !hasRowWithOnlyMissingValues">
    <table class="full-width" id="scalestable">
      <thead>
        <tr>
          <th>Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th>Theoretical Range
            <inline-help help-key="theoretical-range"></inline-help>
          </th>
          <th>Observed Range
            <inline-help help-key="observed-range"></inline-help>
          </th>
          <th>Configured Range
            <inline-help help-key="configured-range"></inline-help>
          </th>
          <th>Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in scaleTable">
          <td>{{row.criterion.title}}</td>
          <td>
            <!-- theo -->
            {{row.dataSource.scale[0] | number}},
            {{row.dataSource.scale[1] | number}}</td>
          <td>
            <!-- obs -->
            <span ng-bind="row.intervalHull[0]"></span> ,
            <span ng-bind="row.intervalHull[1]"></span>
          </td>
          <td>
            <!-- conf -->
            <span ng-if="row.dataSource.pvf.range.length">
              {{significantDigits(row.dataSource.pvf.range[0])}},
              {{significantDigits(row.dataSource.pvf.range[1])}}
            </span>
            <span ng-if="!row.dataSource.pvf.range.length">
              <span ng-bind="row.intervalHull[0]"></span> ,
              <span ng-bind="row.intervalHull[1]"></span>
            </span>
          </td>
          <td>{{row.dataSource.unitOfMeasurement.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
