<div class="grid-container full">
  <div class="grid-x" style="margin-bottom: 10px">
    <!-- Enabled tabs -->
    <div
      id="overview-tab"
      ng-class="tabStatus['overview'].active ? 'tab-is-active' : 'tab-is-inactive'"
      class="cell shrink tab-common"
      ui-sref="evidence"
    >
      Overview
    </div>
    <div
      id="problem-definition-tab"
      ng-class="tabStatus['problemDefinition'].active ? 'tab-is-active' : 'tab-is-inactive'"
      class="cell shrink tab-common"
      ui-sref="problem"
    >
      Problem definition
    </div>
    <div
      id="preferences-tab"
      ng-if="tabStatus['preferences'].enabled"
      ng-class="tabStatus['preferences'].active ? 'tab-is-active' : 'tab-is-inactive'"
      class="cell shrink tab-common"
      ui-sref="preferences"
    >
      Preferences
    </div>
    <div
      id="deterministic-tab"
      ng-if="tabStatus['deterministic'].enabled"
      ng-class="tabStatus['deterministic'].active ? 'tab-is-active' : 'tab-is-inactive'"
      class="cell shrink tab-common"
      ui-sref="deterministic-results"
    >
      Deterministic results
    </div>
    <div
      id="smaa-tab"
      ng-if="tabStatus['smaa'].enabled"
      ng-class="tabStatus['smaa'].active ? 'tab-is-active' : 'tab-is-inactive'"
      class="cell shrink tab-common"
      ui-sref="smaa-results"
    >
      SMAA results
    </div>

    <!-- Disabled tabs -->
    <div
      ng-if="!tabStatus['preferences'].enabled"
      class="cell shrink tab-common tab-is-disabled"
      tooltip="{{tabStatus['preferences'].tooltip}}"
    >
      Preferences
    </div>
    <div
      ng-if="!tabStatus['deterministic'].enabled"
      class="cell shrink tab-common tab-is-disabled"
      tooltip="{{tabStatus['deterministic'].tooltip}}"
    >
      Deterministic results
    </div>
    <div
      ng-if="!tabStatus['smaa'].enabled"
      class="cell shrink tab-common tab-is-disabled"
      tooltip="{{tabStatus['smaa'].tooltip}}"
    >
      SMAA results
    </div>

    <div class="cell auto menu-border-bottom"></div>

    <div class="cell large-1 right menu-border-bottom" ng-if="!isStandalone">
      <workspace-settings edit-mode="editMode"></workspace-settings>
    </div>
  </div>
</div>

<div class="grid-x">
  <div class="cell" ui-view></div>
</div>
