<div class="grid-x">
  <div class="cell">
    <tabset>
      <tab heading="Overview" active="tabStatus['overview'].active" ui-sref="evidence">
        <div ng-if="tabStatus['overview'].active" ui-view></div>
      </tab>
      <tab id="problem-definition-tab" heading="Problem definition" active="tabStatus['problemDefinition'].active"
        ui-sref="problem">
        <div ng-if="tabStatus['problemDefinition'].active" ui-view></div>
      </tab>
      <tab id="preferences-tab" heading="Preferences" active="tabStatus['preferences'].active" ui-sref="preferences"
        ng-if="tabStatus['preferences'].enabled">
        <div ng-if="tabStatus['preferences'].active" ui-view></div>
      </tab>
      <tab id="deterministic-tab" heading="Deterministic results" active="tabStatus['deterministic'].active"
        ui-sref="deterministic-results" ng-if="tabStatus['deterministic'].enabled">
        <div ng-if="tabStatus['deterministic'].active" ui-view></div>
      </tab>
      <tab id="smaa-tab" heading="SMAA results" active="tabStatus['smaa'].active" ui-sref="smaa-results"
        ng-if="tabStatus['smaa'].enabled">
        <div ng-if="tabStatus['smaa'].active" ui-view></div>
      </tab>

      <li class="tabs-title disabled" ng-if="!tabStatus['preferences'].enabled"
        tooltip="{{tabStatus['preferences'].tooltip}}">
        Preferences
      </li>
      <li class="tabs-title disabled" ng-if="!tabStatus['deterministic'].enabled"
        tooltip="{{tabStatus['deterministic'].tooltip}}">
        Deterministic results
      </li>
      <li class="tabs-title disabled" ng-if="!tabStatus['smaa'].enabled" tooltip="{{tabStatus['smaa'].tooltip}}">
        SMAA results
      </li>
      <li class="tabs-title right" ng-if="!isStandalone">
        <workspace-settings edit-mode="editMode"></workspace-settings>
      </li>
    </tabset>
  </div>
</div>