<div class="grid-x">
  <div class="cell large-8">
    <h4 id="sensitivity-measurements-header">Measurements
      <inline-help help-key="effects-table"></inline-help>
    </h4>
    <p>
      <em>Values can be changed by clicking them.</em>
    </p>
  </div>
  <div class="cell large-4">
    <button class="button small info clipboard-button right" data-clipboard-target="#sensitivity-table">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell">
    <table id="sensitivity-table" class="full-width effects-table">
      <thead>
        <tr>
          <th ng-show="toggledColumns['criteria']">Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th ng-show="toggledColumns['description']">Description</th>
          <th ng-show="toggledColumns['units']">Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
          <th class="text-center" ng-repeat="alternative in alternatives" style="min-width: 120px">
            {{scenario.state.legend[alternative.id].baseTitle || alternative.title}}
          </th>
          <th ng-show="toggledColumns['strength']">
            Strength of evidence <inline-help help-key="strength-of-evidence"></inline-help>
            / Uncertainties <inline-help help-key="uncertainties"></inline-help>
          </th>
          <th ng-show="toggledColumns['references']">
            References <inline-help help-key="criterion-source"></inline-help>
          </th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat="row in tableRows">
          <td ng-if="row.isHeaderRow" class="group-header" colspan="{{numberOfColumns + nrAlternatives}}">
            <div class="main-header">
              {{row.headerText}}
            </div>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['criteria']">
            {{row.criterion.title}}
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['description']">
            {{row.criterion.description}}
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['units']">
            {{row.dataSource.unitOfMeasurement.label}}
          </td>
          <td ng-if="!row.isHeaderRow" class="text-center" ng-repeat="alternative in alternatives">
            <sensitivity-input row="row" alternative="alternative"
              original-value="scales.observed[row.dataSource.id][alternative.id]['50%']"
              current-value="modifiableScales[row.dataSource.id][alternative.id]['50%']"
              change-callback="sensitivityScalesChanged" is-editing="isEditing"></sensitivity-input>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['strength']">
            <div ng-if="row.dataSource.strengthOfEvidence">
              <b>SoE: </b>{{row.dataSource.strengthOfEvidence}}</div>
            <div ng-if="row.dataSource.uncertainties">
              <b>Unc: </b> {{row.dataSource.uncertainties}}</div>
          </td>
          <td ng-if="!row.isHeaderRow" ng-show="toggledColumns['references']">
            <a ng-if="row.dataSource.sourceLink" href="{{row.dataSource.sourceLink}}">
              {{row.dataSource.source}}
            </a>
            <span ng-if="!row.dataSource.sourceLink">{{row.dataSource.source}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
