<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>Add workspace</h3>
    </div>
    <div class="cell">
      <label>Choose creation method</label>
    </div>
    <div class="cell" style=" margin-left: 1rem;">
      <label>
        <input type="radio" ng-model="model.choice" value="example">
        Select example workspace
      </label>
    </div>
    <div class="cell" style=" margin-left: 1rem;">
      <label>
        <input type="radio" ng-model="model.choice" value="tutorial">
        Select tutorial workspace
      </label>
    </div>
    <div class="cell" style=" margin-left: 1rem;">
      <label>
        <input type="radio" ng-model="model.choice" value="local">
        Upload file
      </label>
    </div>
    <div class="cell" style=" margin-left: 1rem;">
      <label>
        <input type="radio" ng-model="model.choice" value="manual">
        Create new workspace
      </label>
    </div>

    <div class="cell large-8" ng-show="model.choice === 'example'">
      <select ng-options="example as example.title for example in examplesList track by example.href"
        ng-model="model.chosenExample">
      </select>
    </div>

    <div class="cell large-8" ng-show="model.choice === 'tutorial'">
      <select ng-options="tutorial as tutorial.title for tutorial in tutorials track by tutorial.href"
        ng-model="model.chosenTutorial">
      </select>
    </div>

    <div class="cell" ng-show="model.choice === 'local'">
      <file-reader model="local"></file-reader>
      <div ng-if="workspaceValidity && !workspaceValidity.isValid" class="alert">
        Invalid workspace: {{workspaceValidity.errorMessage}}.
        <a href="/manual.html#data-upload">
          Supported upload format.
        </a>
      </div>
    </div>

    <div class="cell">
      <button class="button success"
        ng-disabled="(model.choice === 'local' && (!workspaceValidity.isValid || !local.contents)) || isCreating"
        ng-click="createWorkspace()">
        Add
      </button>
    </div>

    <button ng-click="close()" class="close-button" aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
