<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell">
      <h3>Delete workspace</h3>
    </div>
    <div class="cell">Are you certain you want to delete:</div>
    <div class="cell large-11 large-offset-1">
      <em>{{workspace.title}}</em>
    </div>
    <div class="cell alert">This cannot be undone!</div>
    <br /><br />
    <div class="cell button-group">
      <button
        id="delete-workspace-confirm-button"
        class="button"
        ng-click="deleteWorkspace()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
<button
  id="close-modal-button"
  ng-click="close()"
  class="close-button"
  aria-label="Close reveal"
  type="button"
>
  <span aria-hidden="true">&times;</span>
</button>
