<div class="grid-x">
  <div class="cell">
    <h3 id="workspaces-header">
      Workspaces
      <inline-help help-key="workspace"></inline-help>
    </h3>
  </div>
  <div class="cell large-6 medium-8">
    <table>
      <thead>
        <th width="100%">Title</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="workspace in workspacesList | orderBy:'title'">
          <td>
            <a
              id="workspace-{{ $index }}"
              ui-sref="evidence({workspaceId: workspace.id, problemId: workspace.defaultSubProblemId, id: workspace.defaultScenarioId})"
            >
              {{workspace.title}}
            </a>
          </td>
          <td class="text-center">
            <a
              id="copy-workspace-{{ $index }}"
              class="fa fa-copy"
              style="color: black"
              ng-click="copyWorkspace(workspace)"
              tooltip="Copy workspace"
            >
            </a>
          </td>
          <td class="text-center">
            <a
              id="delete-workspace-{{ $index }}"
              class="fa fa-trash"
              style="color: red"
              ng-click="deleteWorkspace(workspace)"
              tooltip="Delete workspace"
            >
            </a>
          </td>
        </tr>
        <tr ng-if="!workspacesList.length">
          <td>
            <em id="empty-workspace-message">No workspaces defined</em>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
