<form ng-submit="saveSettings()">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3>Settings</h3>
      </div>

      <div class="cell">
        Show percentages or decimals (eligible data sources only)
      </div>
      <div class="cell">
        <label>
          <input id="show-percentages-radio" type="radio" ng-model="settings.showPercentages" ng-value="true">Percentages
        </label>
      </div>
      <div class="cell">
        <label>
          <input id="show-decimals-radio" type="radio" ng-model="settings.showPercentages" ng-value="false">Decimals
        </label>
      </div>

      <div class="cell">
        Measurements display mode
      </div>
      <div class="cell">
        <label>
          <input id="entered-radio"  type="radio" ng-model="settings.displayMode" ng-value="'enteredData'" ng-change="checkForWarnings()">
          Entered data (unaffected by percentage/decimal toggle)
        </label>
      </div>
      <div class="cell">
        <label>
          <input id="values-radio" type="radio" ng-model="settings.displayMode" ng-value="'values'" ng-change="checkForWarnings()">
          Values used for analysis
        </label>
      </div>

      <div class="cell">
        Analysis type
      </div>
      <div class="cell">
        <label>
          <input id="deterministic-radio" type="radio" ng-model="settings.analysisType" ng-value="'deterministic'" ng-change="checkForWarnings()">
          Deterministic
        </label>
      </div>
      <div class="cell">
        <label>
          <input id="smaa-radio" type="radio" ng-model="settings.analysisType" ng-value="'smaa'" ng-change="checkForWarnings()">
          SMAA
        </label>
      </div>

      <div class="cell">
        Show median or mode for the SMAA - analysis values view
      </div>
      <div class="cell">
        <label>
          <input id="show-median-radio" type="radio" ng-model="settings.calculationMethod" ng-value="'median'">Median
        </label>
      </div>
      <div class="cell">
        <label>
          <input id="show-mode-radio" type="radio" ng-model="settings.calculationMethod" ng-value="'mode'">Mode
        </label>
      </div>

      <div class="cell">
        Effects table columns to show
      </div>
      <div class="cell">
        <button id="toggle-selection-button" class="button tiny" type="button" ng-click="toggleSelection()">(De)select all</button>
      </div>
      <div class="cell">
        <input id="criterion-column-checkbox" type="checkbox" ng-model="toggledColumns['criteria']">
        <label for="criterion-column-checkbox">Criterion</label>
      </div>
      <div class="cell">
        <input id="description-column-checkbox" type="checkbox" ng-model="toggledColumns['description']">
        <label for="description-column-checkbox">Description
      </div>
      <div class="cell">
        <input id="units-column-checkbox" type="checkbox" ng-model="toggledColumns['units']">
        <label for="units-column-checkbox">Units
      </div>
      <div class="cell">
        <input id="reference-column-checkbox" type="checkbox" ng-model="toggledColumns['references']">
        <label for="reference-column-checkbox">Reference
      </div>
      <div class="cell">
        <input id="uncertainties-column-checkbox" type="checkbox" ng-model="toggledColumns['strength']">
        <label for="uncertainties-column-checkbox">Strength of evidence / Uncertainties
      </div>

      <div class="cell">
        <button id="reset-default-button" class="button" type="button" ng-click="resetToDefault()">Default</button>
      </div>
      <div ng-if="warnings.length" ng-repeat="warning in warnings">
        <i class="fa fa-exclamation-triangle"></i> {{warning}}
      </div>
      <div class="cell">
        <button id="save-settings-button" class="button success" type="submit">Save</button>
      </div>
      <button id="close-modal-button" ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</form>