<div class="row">
  <div class="columns large-8">
    <p>Defining measurement scales is important because they provide the reference
    levels at which trade-offs between criteria are assessed. Without these
    reference levels statements about the relative importance of different
    criteria would be meaningless.</p>

    <ul class="no-bullet">
      <li ng-repeat="(key, criterion) in currentStep.problem.criteria">
      <h5 class="subheader">{{criterion.title}}</h5>
      <div class="row">
        <div class="large-1 columns">
          <a href="#" ng-click="currentStep.scales[key].increaseFrom()" style="margin-right: 10px" class="tiny round button">&lt;</a>
        </div>
        <div class="large-8 columns">
          <slider style="width: 400px; margin-top: 4px;" model="currentStep.choice[key]" range="currentStep.scales[key]"></slider>
        </div>
        <div class="large-1 pull-2 columns">
          <a href="#" ng-click="currentStep.scales[key].increaseTo()" style="margin-left: -20px" class="tiny round button">&gt;</a>
        </div>
      </div>
      <br>
      </li>
    </ul>
  </div>
</div>
