<div class="grid-x">
  <div class="cell">
    <h3>Your workspaces</h3>
    <div class="callout secondary">
      <ul class="fontsize">
        <li ng-repeat="workspace in workspacesList | orderBy:'title'">
          <a ui-sref="evidence({workspaceId: workspace.id, problemId: workspace.defaultSubProblemId, id: workspace.defaultScenarioId})"> {{workspace.title}}</a>
        </li>
        <li ng-hide="workspacesList.length">No workspaces.</li>
      </ul>
    </div>

    <button id="create-workspace-btn" class="button" ng-click="openChooseProblemModal()"><i class="fa fa-plus"></i> Create workspace</button>
  </div>
</div>


