<div class="row">
  <div class="columns large-12">
    <h3>Your workspaces</h3>
    <div class="panel">
      <ul class="fontsize">
        <li ng-repeat="workspace in workspacesList | orderBy:'title'">
          <a ui-sref="overview({workspaceId: workspace.id, id: workspace.defaultScenarioId})"> {{workspace.title}}</a>
          <a class="deleteicon rounded-small secondary" ng-click="deleteWorkspace()" style="margin-left: 15px;"></a>
        </li>
        <li ng-hide="workspacesList.length">No workspaces.</li>
      </ul>
    </div>

    <a id="create-workspace-btn" class="button" ng-click="chooseProblemModal.open()" title="Delete workspace"><i class="fa fa-plus"></i> Create workspace</a>

    <modal model="chooseProblemModal">
      <h3>Create a new workspace</h3>
      <form>
        <p>Load an example:</p>
        <div style="margin-left: 2rem;">
          <label ng-repeat="option in examplesList">
            <input type="radio" ng-model="model.choice" value="{{option.href}}"> <span>{{option.title}}</span>
          </label>
        </div>
        <p>Or a local file:</p>
        <div style="margin-left: 2rem;">
          <label>
            <input type="radio" ng-model="model.choice" value="local"> Local file: <file-reader model="local"></file-reader>
          </label>
        </div>

        <div style="margin:25px 0 0 0;">
          <ul class="button-group">
            <li><a class="button small secondary" ng-click="chooseProblemModal.close()">Cancel</a></li>
            <li ng-show="model.choice != 'local'">
              <a class="button small success" ng-disabled="!model.choice" ng-click="createWorkspace(model.choice)">Create workspace</a>
            </li>
            <li ng-show="model.choice == 'local'">
              <a class="button small success" ng-disabled="!local.contents" ng-click="createWorkspace(model.choice)">Create workspace</a>
            </li>
          </ul>
        </div>
      </form>
    </modal>
  </div>
</div>


