<div class="sidepanel" ng-class="onLoadClass" ng-show="showPanel" >
  <h1>{{sideParam.title}}</h1>
  <table cellspacing="0px">
    <thead>
      <tr>
        <th scope="col">Alternative</th>
        <th scope="col">{{sideParam.unitOfMeasurement}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(alternativeKey, alternative) in problem.alternatives">
        <td>{{alternative.title}}</td>
        <td>{{sideParam.scales[alternativeKey]['50%'] | number}} ({{sideParam.scales[alternativeKey]['2.5%'] | number}}, {{sideParam.scales[alternativeKey]['97.5%'] | number}})</td>
      </tr>
    </tbody>
  </table>
</div> <!--sidepanel-->

<h3>Effects table</h3>

<h6>Show alternatives</h6>
<form>
  <label ng-repeat="(alternativeKey, alternative) in problem.alternatives" class="check2hide">
    <input class="check2hide" type="checkbox" name="col{{$index}}" ng-model="alternativeVisible[alternativeKey]" />{{alternative.title}}
  </label>
</form>

<div id="effectstable-container">
  <div id="effectstable-div">
    <table id="effectstable" class="effectstable" summary="table summary" data-role="table" data-mode="columntoggle">
      <thead>
        <tr>
          <th class="rem12">Criterion</th>
          <th class="rem20">Description</th>
          <th>Units</th>
          <th class="rem8 center-text" ng-repeat="(alternativeKey, alternative) in problem.alternatives" ng-show="alternativeVisible[alternativeKey]">{{alternative.title}}{{problem.valueTree.children.children[0].criteria}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="effectsTableRow in effectsTableData">
          <td ng-show="effectsTableRow.path.length > 0" class="group-header" colspan="{{3 + nrAlternatives}}">
            <div class="main-header">
              <remarkblock ng-if="editMode.isUserOwner" remark="$parent.remarks.remarks[effectsTableRow.path[0].title]" save-remarks="saveRemarks()" cancel-remarks="cancelRemarks()"></remarkblock>
              {{effectsTableRow.path[0].title}}</div>
              <span ng-repeat="node in effectsTableRow.path.slice(1)">
                <i style="font-size: 1.5rem" class="fa fa-angle-right"></i>
                <div class="secondary-header">
                  <remarkblock remark="$parent.remarks.remarks[node.title]" save-remarks="saveRemarks"></remarkblock>{{node.title}}
                </div>
              </span>
            </td>
          </tr>
          <tr class="showmore" ng-repeat-end ng-repeat="criterion in effectsTableRow.criteria">
            <td >
              <remarkblock ng-if="editMode.isUserOwner" remark="$parent.remarks.remarks[criterion.value.title]" save-remarks="saveRemarks()" cancel-remarks="cancelRemarks()" user="user"></remarkblock>{{criterion.value.title}}
              <a ng-click="toggleSidebar(criterion)" class="button radius tiny-icon" style="float:right"><i class="fa fa-list"></i></a>
            </td>
            <td>{{criterion.value.description}}</td>
            <td>{{criterion.value.unitOfMeasurement}}</td>
            <td class="center-text" ng-repeat="(alternativeKey, alternative) in problem.alternatives" name="col{{$index}}" id="col{{$index}}" ng-show="alternativeVisible[alternativeKey]">
              {{scales[criterion.key][alternativeKey]['50%'] | number}}
              <div class="uncertain">{{scales[criterion.key][alternativeKey]['2.5%'] | number}}, {{scales[criterion.key][alternativeKey]['97.5%'] | number}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>Remarks</h4>

  <value-tree children='expandedValueTree.children' remarks='remarks.remarks'></value-tree>
