<div class="sidepanel" ng-model="checked" ng-hide="showPanel" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
  <h1>{{sideParam.title}}</h1>
  <table cellspacing="0px">
    <tr>
      <th scope="col">Alternative</th>
      <th scope="col">{{sideParam.unitOfMeasurement}}</th>
    </tr>
    <tr ng-repeat="(alternativeKey, alternative) in problem.alternatives">
      <td>{{alternative.title}}</td>
      <td>{{sideParam.scales[alternativeKey]['50%'] | number:3}}</td>
    </tr>
  </table>
</div> <!--sidepanel-->

<h4>Effects Table</h4>

<h6>Show alternatives</h6>
<form>
  <label ng-repeat="(alternativeKey, alternative) in problem.alternatives" class="check2hide">
    <input class="check2hide" type="checkbox" name="col{{$index}}" ng-model="alternativeVisible[alternativeKey]" />{{alternative.title}}
  </label>
</form>

<div id="effectstable-container">
  <div id="effectstable-div">
    <table id="effectstable" class="effectstable" summary="table summary" data-role="table" data-mode="columntoggle">
      <thead>
        <tr>
          <th class="rem12">Name</th>
          <th class="rem20">Description</th>
          <th>Units</th>
          <th>Alternatives</th>
          <th class="rem8 center-text" ng-repeat="(alternativeKey, alternative) in problem.alternatives" ng-show="alternativeVisible[alternativeKey]">{{alternative.title}}{{problem.valueTree.children.children[0].criteria}}</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat-start="effectsTableRow in effectsTableData">
        <td class="firstheader" colspan="10">
          <div class="firstheadertext">
            <remarkblock remark="$parent.remarks[effectsTableRow.path[0].title]" save-remarks="saveRemarks"></remarkblock>
            {{effectsTableRow.path[0].title}}</div>
          <div ng-repeat="node in effectsTableRow.path.slice(1)" class="secondheader rounded-small"><span>
              <remarkblock remark="$parent.remarks[node.title]" save-remarks="saveRemarks"></remarkblock> {{node.title}}</span>
          </div>
        </td>
      </tr>
      <tr class="showmore" ng-repeat-end ng-repeat="criterion in effectsTableRow.criteria">
        <td>
          <remarkblock remark="$parent.remarks[criterion.value.title]" save-remarks="saveRemarks"></remarkblock>{{criterion.value.title}}
        </td>
        <td>{{criterion.value.description}}</td>
        <td>{{criterion.value.unitOfMeasurement}}</td>
        <td class="slidesidepanel">
          <button ng-click="toggleSidebar(criterion)" ng-model="checked" class="button closebutt">View</button>
        </td>
        <td class="center-text" ng-repeat="(alternativeKey, alternative) in problem.alternatives" name="col{{$index}}" id="col{{$index}}" ng-show="alternativeVisible[alternativeKey]">
          {{scales[criterion.key][alternativeKey]['50%'] | number:3}}
          <div class="uncertain">{{scales[criterion.key][alternativeKey]['2.5%'] | number:3}}, {{scales[criterion.key][alternativeKey]['97.5%'] | number:3}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h4>Remarks</h4>
<ul class="remarksTree">
  <li ng-repeat="(key, value) in remarks">
    <strong>{{key}}</strong><br />
    <span>{{value}}</span>
  </li>
</ul>
