<div class="grid-x">
  <div class="cell">
    <h4>
      Therapeutic context <inline-help help-key="therapeutic-context"></inline-help>
      <a ng-if="editMode.isUserOwner && isStandAlone" ng-click="editTherapeuticContext()">
        <i class="fa fa-edit"></i>
      </a>
    </h4>
  </div>
  <div class="cell">
    <span ng-if="problem.description">{{problem.description}}</span>
    <span ng-if="!problem.description">No description given.</span>
  </div>
  <div class="cell large-10">
    <h4>Effects Table
      <inline-help help-key="effects-table"></inline-help>
    </h4>
  </div>
  <div class="cell large-2">
    <button class="button small info clipboard-button" data-clipboard-target="#effectstable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell">
    <table class="full-width effects-table" id="effectstable">
      <thead>
        <tr>
          <th>Criterion <inline-help help-key="criterion"></inline-help></th>
          <th>Description</th>
          <th>Units <inline-help help-key="criterion-unit"></inline-help></th>
          <th ng-if="references.has">References</th>
          <th class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives">
            <a ng-if="editMode.isUserOwner && isStandAlone" ng-click="editAlternative(problem.alternatives[alternativeKey])">
              <i class="fa fa-edit"></i>
            </a>{{alternative.title}}{{problem.valueTree.children.children[0].criteria}}</th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat-start="effectsTableRow in effectsTableData" ng-show="effectsTableRow.path.length > 0">
          <td class="group-header" colspan="{{(references.has ? 4 : 3) + nrAlternatives}}">
            <div class="main-header">
              {{effectsTableRow.path[0].title}}
            </div>
            <span ng-repeat="node in effectsTableRow.path.slice(1)">
              <i style="font-size: 1.5rem" class="fa fa-angle-right"></i>
              <div class="secondary-header">
                {{node.title}}
              </div>
            </span>
          </td>
        </tr>
        <tr ng-repeat-end ng-repeat="criterion in effectsTableRow.criteria track by $index">
          <td>
            <a ng-if="editMode.isUserOwner && isStandAlone" ng-click="editCriterion(criterion.value, criterion.key)">
              <i class="fa fa-edit"></i>
            </a>{{criterion.value.title}}
          </td>
          <td>
            <div class="td-container">
              <div class="td-content">{{criterion.value.description}}</div>
              <div class="td-spacer">{{criterion.value.description}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
          <td>{{criterion.value.unitOfMeasurement}}</td>
          <td ng-if="references.has"><a href="{{criterion.value.sourceLink}}">{{criterion.value.source}}</a></td>
          <td class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives" name="col{{$index}}" id="col{{$index}}">
            {{scales[criterion.key][alternativeKey]['50%'] | number}}
            <br>
            <div class="uncertain" ng-show="!isExact(criterion.key, alternativeKey)">
              {{scales[criterion.key][alternativeKey]['2.5%'] | number}}, {{scales[criterion.key][alternativeKey]['97.5%'] | number}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>