<div class="grid-x overview-nav-container">
  <div class="cell">
    <ul class="overview-nav">
      <li><a class="tab-corners" ng-class="{activetab: activeTab ==='evidence'}" ui-sref="evidence">Overview</a></li>
      <li><a class="tab-corners" ng-class="{activetab: activeTab ==='problem'}" ui-sref="problem">Problem definition</a></li>
      <li>
        <div ng-if="tasksAccessibility.preferences">
          <a class="tab-corners" ng-class="{activetab: activeTab ==='preferences'}" ui-sref="preferences">Preferences</a>
        </div>
        <div ng-if="!tasksAccessibility.preferences">
          <a class="tab-corners disabledtab">Preferences</a>
        </div>
      </li>
      <li>
        <div ng-if="tasksAccessibility.results">
          <a class="tab-corners" ng-class="{activetab: activeTab === 'deterministic-results'}" ui-sref="deterministic-results">Deterministic results</a>
        </div>
        <div ng-if="!tasksAccessibility.results">
          <a class="tab-corners disabledtab" tooltip="Tab unavailable because not all partial value functions are set">Deterministic results</a>
        </div>
      </li>
      <li>
        <div ng-if="tasksAccessibility.results">
          <a class="tab-corners" ng-class="{activetab: activeTab === 'smaa-results'}" ui-sref="smaa-results">SMAA results</a>
        </div>
        <div ng-if="!tasksAccessibility.results">
          <a class="tab-corners disabledtab" tooltip="Tab unavailable because not all partial value functions are set">SMAA results</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-centered">
    <div ui-view></div>
  </div>
</div>