<div class="row overview-nav-container">
  <ul class="overview-nav">
    <li><a class="tab-corners" ng-class="{activetab: activeTab ==='evidence'}" ui-sref="evidence">Evidence</a></li>
    <li>
      <span>Problem:</span>
      <select class="scenario-select" ng-model="subProblem" ng-options="subProblem.title for subProblem in subProblems track by subProblem.id" ng-change="subProblemChanged(subProblem)"></select>
    </li>
    <li><a class="tab-corners" ng-class="{activetab: activeTab ==='problem'}" ui-sref="problem">Problem definition</a>
    </li>
    <li>
      <span>Scenario:</span>
      <select class="scenario-select" ng-model="__scenario" ng-options="scenario.title for scenario in scenarios track by scenario.id"
        ng-change="scenarioChanged(__scenario)"></select>
      <i ng-if="editMode.isUserOwner" class="fa fa-plus new-scenario-btn" dropdown-toggle="#newScenarioControl"></i>
      <ul id="newScenarioControl" class="f-dropdown">
        <li class="drop-down-list-item" ng-click="forkScenario()">
          <a>Copy current scenario</a></li>
        <li class="drop-down-list-item" ng-click="newScenario()">
          <a>Create clean scenario</a>
        </li>
      </ul>
    </li>
    <li>
      <div ng-if="tasksAccessibility.preferences">
        <a class="tab-corners" ng-class="{activetab: activeTab ==='preferences'}" ui-sref="preferences">Preferences</a>
      </div>
      <div ng-if="!tasksAccessibility.preferences">
        <a class="tab-corners disabledtab">Preferences</a>
      </div>
    </li>
    <li>
      <div ng-if="tasksAccessibility.results">
        <a class="tab-corners" ng-class="{activetab: activeTab === 'results'}" ui-sref="results">Results</a>
      </div>
      <div ng-if="!tasksAccessibility.results">
        <a class="tab-corners disabledtab">Results</a>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="columns large-12 large-centered">
    <div ui-view></div>
  </div>
</div>
