<div ng-show="state.type == 'elicit'">
  <div class="row" style="min-height: 450px">
    <div class="columns large-12">
      <h3 ng-bind="state.title"></h3>
      <h5 class="subheader">Given the following situation:</h5>
      <ul class="inline-list">
        <li ng-repeat="(criterion, value) in state.reference track by $index">
          {{state.problem.criteria[criterion].title}} = {{value | number }}
        </li>
      </ul>

      <h5 class="subheader">Which of these improvements is most desired:</h5>
      <label ng-repeat="(choice, alternative) in state.choices">
        <input type="radio" ng-model="state.choice" value="{{choice}}" />
        <criterion of="state.problem.criteria[choice]"></criterion> &rarr; {{alternative[choice] | number }}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <button class="small button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
      <button class="small button"
              ng-if="!canSave(state)"
              ng-click="nextStep(state)"
              ng-disabled="!canProceed(state)">Next</button>
    </div>
  </div>
</div>


<div ng-if="state.type == 'review'">
  <div class="row" style="min-height: 450px">
    <div class="columns large-12">
      <h3 ng-bind="state.title"></h3>
      <p>You have given the following trade-offs:</p>
      <trade-offs problem="state.problem" preferences="state.intermediate.prefs"></trade-offs>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <button class="small button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
      <button class="small success button"
              ng-if="canSave(state)"
              ng-click="save(state)"
              ng-disabled="!canSave(state)">Save</button>

    </div>
  </div>
</div>
