<div>
  <div class="row">
    <div class="columns large-7">
      <h3 ng-bind="currentStep.title"></h3>
      <h5 class="subheader">Given the following situation:</h5>
      <ul class="inline-list">
        <li ng-repeat="(criterion, value) in currentStep.reference track by $index">
          {{currentStep.problem.criteria[criterion].title}} = {{value | precision: 3}}
        </li>
      </ul>

      <h5 class="subheader">Which of these improvements is most desired:</h5>
      <label ng-repeat="(choice, alternative) in currentStep.choices">
        <input type="radio" ng-model="currentStep.choice" value="{{choice}}" />
        {{currentStep.problem.criteria[choice].title}} &rarr; {{alternative[choice] | precision: 3}}
      </label>
    </div>

    <div ng-include="rankProbabilityChartURL"></div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <button class="small button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
      <button class="small button"
              ng-if="!canSave(currentStep)"
              ng-click="nextStep(currentStep)"
              ng-disabled="!canProceed(currentStep)">Next</button>
      <button class="small success button"
              ng-if="canSave(currentStep)"
              ng-click="save(currentStep)"
              ng-disabled="!canProceed(currentStep) || inTransition">Save</button>

    </div>
  </div>
</div>
