<div class="row">
  <div class="columns large-12">
    <h4>Problem description</h4>
    <p>
      <span  ng-if="problem.description">{{problem.description}}</span>
      <span  ng-if="!problem.description">No description given.</span>
    </p>

    <h4>Alternatives</h4>
    <ul>
      <li ng-repeat="alternative in problem.alternatives" ng-bind="alternative.title"></li>
    </ul>

    <hr />

    <h4>Value Tree</h4>

    <div>
			<collection collection='[problem.valueTree]'></collection>
		</div>      
  </div>
</div>
