<div ng-if="state.type == 'elicit type'">
  <div class="row">
    <div class="columns large-12">
      <h3>Define Partial Value Function for: {{state.choice.title}}</h3>
    </div>

    <div class="columns large-7">
      <p>The partial value functions (<abbr title="partial value function">PVF</abbr>)
        define the mapping between the measurement values and the
        utility of that value.</p>
      <criterion of="state.choice"></criterion>
      <label>
        <input type="radio"
               ng-model="state.choice.pvf.direction"
               value="decreasing"
               ng-selected="state.choice.pvf.direction =='decreasing'">
        {{state.choice.pvf.range[0] | number}} is best
      </label>
      <label>
        <input type="radio"
               ng-model="state.choice.pvf.direction"
               value="increasing"
               ng-selected="state.choice.pvf.direction == 'increasing'">
        {{state.choice.pvf.range[1] | number}} is best
      </label>

      Type of function
      <label><input type="radio" ng-model="state.choice.pvf.type" value="linear">Linear</label>
      <label><input type="radio" ng-model="state.choice.pvf.type" value="piecewise-linear">Piece-wise linear</label>
    </div>


    <div class="columns large-5">
      <div style="width: 400px; height: 400px">
        <line-chart value="getXY(state.choice)" show-legend="false"></line-chart>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns large-12">

      <button class="small button" ng-click="cancel()">Cancel</button>
      <button class="small button"
              ng-if="!canSave(state)"
              ng-click="nextStep(state)"
              ng-disabled="!canProceed(state)">Next</button>
      <button class="small success button"
              ng-if="canSave(state)"
              ng-click="save(state)"
              ng-disabled="!canProceed(state)">Save</button>
    </div>
  </div>

</div> <!-- / subType == null -->

<div ng-if="state.type == 'bisection'">
  <div class="row">
    <div class="columns large-12">

      <h3>Define Partial Value Function for: {{state.choice.title}}</h3>
    </div>
    <div class="columns large-7">
      <p>
        What is the value of x such that an improvement in <criterion of="state.choice"></criterion> from {{state.range.from | number}} to x
        is equivalent to an improvement from x to {{state.range.to | number}}?
      </p>

      <strong>Adjust the slider:</strong>
      <label>
        <slider style="width: 400px; margin-top: 20px; margin-bottom: 10px"
                model="state.choice.pvf.cutoffs[state.choice.pvf.values.length - 1]"
                type="point"
                range="state.range"></slider>
      </label>

      <strong>So that the following statement is true:</strong>
      <p>
        The improvement from {{state.range.from | number}} to {{state.choice.pvf.cutoffs[state.choice.pvf.values.length - 1] | number}}<br>
        is equivalent to the improvement from {{state.choice.pvf.cutoffs[state.choice.pvf.values.length - 1] | number}} to {{state.range.to | number}}.
      </p>

    </div>
    <div class="columns large-5">

      <div style="width: 400px; height: 400px">
        <line-chart value="getXY(state.choice)" show-legend="false"></line-chart>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">

      <button class="small button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
      <button class="small button"
              ng-if="!canSave(state)"
              ng-click="nextStep(state)"
              ng-disabled="!canProceed(state)">Next</button>
      <button class="small success button"
              ng-if="canSave(state)"
              ng-click="save(state)"
              ng-disabled="!canProceed(state)">Save</button>
    </div>
  </div>
</div>
