<div class="grid-x">
  <div class="cell">
    <em>Here you can set the partial value functions and trade-offs of the scenario.
      Changes here will change the current scenario.</em>
  </div>
</div>
<div class="grid-x">
  <div class="cell">
    <h4 ng-show="!isEditTitleVisible">
      Scenario name:
      <span class="subheader">{{scenario.title}}</span>
      <a ng-if="editMode.isUserOwner" ng-click="editTitle()"><i class="fa fa-edit"></i></a>
    </h4>
  </div>
</div>
<div class="grid-x" ng-show="isEditTitleVisible">
  <div class="cell large-8 small-12">
    <form>
      <div class="grid-x collapse">
        <div class="cell small-8">
          <input type="text" ng-change="checkDuplicateScenarioTitle()" ng-model="scenarioTitle.value">
        </div>
        <div class="cell small-2 button-group expanded">
          <button ng-disabled="!scenarioTitle.value || isDuplicateScenarioTitle" class="button postfix" ng-click="saveTitle()">Save</button>
          <button class="button secondary postfix" ng-click="cancelTitle()">Cancel</button>
        </div>
      </div>
      <div class="grid-x" ng-show="isDuplicateScenarioTitle">
        <div class="cell">
          <span class="alert">Duplicate title</span>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="partial-value-functions-block" class="prefs-block">
  <h4>Partial Value Functions</h4>
  <div id="partial-value-functions" class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
    <div class="cell" ng-repeat="criterion in aggregateState.problem.criteria">
      <h5>{{::criterion.title}}</h5>
      <div style="width: 250px; height: 180px">
        <line-chart ng-if="isPVFDefined(criterion)" value="getXY(criterion)" show-legend="false"></line-chart>
        <div ng-if="!isPVFDefined(criterion)" style="padding-top: 40px; text-align: center; margin: 0">
          <i style="font-size: 100px" class="fa fa-question"></i>
        </div>
      </div>
      <button class="button" ng-if="editMode.isUserOwner" ng-class="{alert: !isSafe['partial-value-function'].safe}" tooltip="{{isSafe['partial-value-function'].tooltip}}" tooltip-animation="false" ng-disabled="!isAccessible(tasks['partial-value-function']).accessible" ui-sref="partial-value-function({criterion: criterion.id})">Define partial value function</button>
    </div>
  </div>
</div>
<div class="grid-x" id="trade-off-block" class="prefs-block">
  <div class="cell">
    <h4>Trade-offs</h4>
  </div>
  <div class="cell large-4 button-group" ng-if="editMode.isUserOwner">
    <button class="button" ui-sref="ordinal-swing" tooltip-animation="false" ng-disabled="!isAccessible(tasks['ordinal-swing']).accessible" ng-class="{alert: !isSafe['ordinal-swing'].safe}" tooltip="{{isSafe['ordinal-swing'].tooltip}}">
      Ordinal Swing
    </button>
    <button class="button" ui-sref="exact-swing" tooltip-animation="false" ng-disabled="!isAccessible(tasks['exact-swing']).accessible" ng-class="{alert: !isSafe['exact-swing'].safe}" tooltip="{{isSafe['exact-swing'].tooltip}}">
      Exact Swing
    </button>
    <button class="button" ui-sref="interval-swing" tooltip-animation="false" ng-disabled="!isAccessible(tasks['interval-swing']).accessible" ng-class="{alert: !isSafe['interval-swing'].safe}" tooltip="{{isSafe['interval-swing'].tooltip}}">
      Interval Swing
    </button>
  </div>
  <div class="cell">
    <trade-offs problem="aggregateState.problem" preferences="scenario.state.prefs"></trade-offs>
  </div>
</div>
<button class="button success" ui-sref="results" ng-disabled="!tasksAccessibility.results">Results</button>