<h3>Preferences</h3>
<h4 ng-show="!isEditTitleVisible" class="subheader">
  <span>{{scenario.title}}</span>
  <a ng-if="editMode.isUserOwner" ng-click="editTitle()"><i class="fa fa-edit"></i></a>
</h4>
<div class="row" ng-show="isEditTitleVisible">
  <div class="columns large-8 small-12">
    <form>
      <div class="row collapse">
        <div class="columns small-8"><input type="text" ng-model="scenarioTitle.value"></div>
        <div class="columns small-2"><button class="button postfix" ng-click="saveTitle()">Save</button></div>
        <div class="columns small-2"><button class="button secondary postfix" ng-click="cancelTitle()">Cancel</button></div>
      </div>
    </form>
  </div>
</div>

<div class="pref-progress">
  <div class="row">
    <div class="columns large-3 medium-3 small-3 progress-cell">
      <div class="line" ng-class="{accessible: isPartialValueFunctionAccessible()}"></div>
      <div ng-click="scrollToScaleRanges()" class="circle-container"
           ng-class="{completed: isScaleRangePresent(), 'next-step': !isScaleRangePresent()}">
        <div class="circle">
          <i ng-if="isScaleRangePresent()" class="fa fa-check" style="color:white"></i></div>
        <div class="circle-label">Scale Ranges</div>
      </div>
    </div>
    <div class="columns large-3 medium-3 small-3 progress-cell">
      <div class="line" ng-class="{accessible: isOrdinalSwingAccessible()}"></div>
      <div class="circle-container" ng-click="scrollToPVFs(isScaleRangePresent())"
           ng-class="{'next-step': isScaleRangePresent() && !isPartialValueFunctionPresent(), completed:isPartialValueFunctionPresent()}">
        <div class="circle">
          <i ng-if="isPartialValueFunctionPresent()" class="fa fa-check" style="color:white"></i></div>
        <div class="circle-label">Partial Value Functions</div>
      </div>
    </div>
    <div class="columns large-3 medium-3 small-3 progress-cell">
      <div class="line" ng-class="{accessible: isTradeoffRatiosAccessible()}"></div>
      <div ng-click="scrollToTradeOffs(isPartialValueFunctionPresent())" class="circle-container"
           ng-class="{'next-step': isPartialValueFunctionPresent() && !isOrdinalSwingPresent(), completed:isOrdinalSwingPresent()}">
        <div class="circle">
          <i ng-if="isOrdinalSwingPresent()" class="fa fa-check" style="color:white"></i></div>
        <div class="circle-label">Trade-off Order</div>
      </div>
    </div>
    <div class="columns large-3 medium-3 small-3 progress-cell">
      <div class="last-line"></div>
      <div ng-click="scrollToTradeOffs(isOrdinalSwingPresent())" class="circle-container"
           ng-class="{'next-step': isOrdinalSwingPresent() && !isTradeoffRatiosPresent(), completed:isTradeoffRatiosPresent()}">
        <div class="circle">
          <i ng-if="isTradeoffRatiosPresent()" class="fa fa-check" style="color:white"></i></div>
        <div class="circle-label">Trade-off Ratios</div>
      </div>
    </div>
  </div>
</div>

<button class="success" ui-sref="results" ng-disabled="!resultsAccessible.accessible">Results</button>

<div id="scale-ranges-block" class="prefs-block">
  <h4>Scale Ranges</h4>
  <table class="full-width">
    <thead>
      <tr>
        <th>Criterion</th>
        <th>Theoretical Range</th>
        <th>Observed Range</th>
        <th>Configured Range</th>
        <th>Units</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, criterion) in criteria">
        <td>{{::criterion.title}}</td>
        <td>{{::scales.theoretical[criterion.id][0] | number}}, {{::scales.theoretical[criterion.id][1] | number}}</td>
        <td>{{::intervalHull(scales.observed[criterion.id])[0] | number}}, {{::intervalHull(scales.observed[criterion.id])[1] | number}}</td>
        <td><span ng-if="criterion.pvf.range">{{::criterion.pvf.range[0] | number}}, {{::criterion.pvf.range[1] | number}}</span></td>
        <td>{{::criterion.unitOfMeasurement}}</td>
      </tr>
    </tbody>
  </table>

  <button ng-if="editMode.isUserOwner"
          ui-sref="scale-range"
          tooltip-animation="false"
          ng-class="{alert: !isSafe['scale-range'].safe}"
          tooltip="{{isSafe['scale-range'].tooltip}}">
    Define Scale Ranges
  </button>
</div>

<div id="partial-value-functions-block" class="prefs-block">
  <h4>Partial Value Functions</h4>

  <ul id="partial-value-functions" class="large-block-grid-3">
    <li ng-repeat="criterion in scenario.state.problem.criteria">
      <h5>{{::criterion.title}}</h5>

      <div style="width: 250px; height: 180px">
        <line-chart ng-if="isPVFDefined(criterion)" value="getXY(criterion)" show-legend="false"></line-chart>
        <div ng-if="!isPVFDefined(criterion)" style="padding-top: 40px; text-align: center; margin: 0">
          <i style="font-size: 100px" class="fa fa-question"></i>
        </div>
      </div>

      <button ng-if="editMode.isUserOwner"
              ng-class="{alert: !isSafe['partial-value-function'].safe}"
              tooltip="{{isSafe['partial-value-function'].tooltip}}"
              tooltip-animation="false"
              ng-disabled="!isAccessible(tasks['partial-value-function'], scenario.state).accessible"
              ui-sref="partial-value-function({criterion: criterion.id})">Define partial value function</button>
    </li>
  </ul>
</div>

<div id="trade-off-block" class="prefs-block">
  <h4>Trade-offs</h4>
  <ul class="button-group">
    <li>
      <button ng-if="editMode.isUserOwner"
              ui-sref="ordinal-swing"
              tooltip-animation="false"
              ng-disabled="!isAccessible(tasks['ordinal-swing'], scenario.state).accessible"
              ng-class="{alert: !isSafe['ordinal-swing'].safe}"
              tooltip="{{isSafe['ordinal-swing'].tooltip}}">
        Ordinal Swing
      </button>
    </li>


    <li>
      <button ng-if="editMode.isUserOwner"
              ui-sref="exact-swing"
              tooltip-animation="false"
              ng-disabled="!isAccessible(tasks['exact-swing'], scenario.state).accessible"
              ng-class="{alert: !isSafe['exact-swing'].safe}"
              tooltip="{{isSafe['exact-swing'].tooltip}}">
        Exact Swing
      </button>
    </li>

    <li>
      <button ng-if="editMode.isUserOwner"
              tooltip-animation="false"
              ui-sref="interval-swing"
              ng-disabled="!isAccessible(tasks['interval-swing'], scenario.state).accessible"
              ng-class="{alert: !isSafe['interval-swing'].safe}"
              tooltip="{{isSafe['interval-swing'].tooltip}}" >
        Interval Swing
      </button>
    </li>
  </ul>

  <trade-offs problem="scenario.state.problem" preferences="scenario.state.prefs"></trade-offs>
</div>
