<div class="row">
  <div class="columns large-12">
    <div class="row overview-nav-container">
      <div class="columns large-4">
        <ul class="overview-nav">
          <li><a class="tab-corners" ng-class="{activetab: taskId==='overview'}" ui-sref="overview">Overview</a></li>
          <li ><a class="tab-corners" ng-class="{activetab: taskId==='effectsTable'}" ui-sref="effectsTable">Effects table</a></li>
        </ul>
      </div>
      <div class="columns large-8">
        <div class="tab-corners workspace-control-tab row">
          <div class="columns large-6 scenario-menu">
            <span>Scenario</span>
            <select class="scenario-select" ng-model="scenario" ng-options="scenario.title for scenario in scenarios track by scenario.id" ng-change="scenarioChanged(scenario)"></select>
            <i class="fa fa-plus new-scenario-btn" data-dropdown="newScenarioControl"></i>
              <ul id="newScenarioControl" class="f-dropdown" data-dropdown-content>
                <li class="drop-down-list-item" ng-click="forkScenario()" >
                  <a>Copy current scenario</a></li>
                <li class="drop-down-list-item" ng-click="newScenario()">
                  <a>Create clean scenario</a>
                </li>
              </ul>
          </div>
          <div class="columns large-6">
            <ul class="overview-nav">
              <li>
                <a class="tab-corners" ng-class="{activetab: taskId==='preferences'}" ui-sref="preferences">Preferences</a>
              </li>
              <li>
                <a class="tab-corners" ng-class="{activetab: taskId==='results'}" ng-if="resultsAccessible" ui-sref="results">Results</a>
                <a class="tab-corners" ng-class="{activetab: taskId==='results'}" ng-if="!resultsAccessible" href="javascript:void(null);">Results</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="columns large-12">
      <div ui-view></div>
    </div>

  </div>
</div>

