<div class="row">
    <div class="columns large-12">
        <div class="tabs">
            <ul class="tabsNavigation">
                <li ng-repeat="s in scenarios | orderBy:'title'" ng-class="{current: s.id == scenario.id}">
                    <a ui-sref="overview({scenarioId: s.id})" ng-bind="s.title"></a>
                </li>
                <li>
                    <a href="javaScript:void(0);" data-dropdown="newScenarioControl"><i class="fa fa-plus"></i></a>
                    <ul id="newScenarioControl" class="f-dropdown" data-dropdown-content>
                        <li><a ng-click="forkScenario()">Copy current scenario</a></li>
                        <li><a ng-click="newScenario()">Create clean scenario</a></li>
                    </ul>
                </li>
            </ul>
            <div class="fakeTabsContent"></div>
        </div>

        <div class="columns large-2">
            <ul class="side-nav">
                <li>
                    <a ui-sref="overview"><i class="fa fa-angle-left"></i> Overview</a>
                </li>
                <li>
                    <a ng-show="resultsAccessible" ui-sref="results"><i class="fa fa-angle-right"></i> Results</a>
                    <span ng-show="!resultsAccessible" ui-sref="results"><i class="fa fa-angle-right"></i> Results</span>
                </li>
            </ul>
        </div>
        <div class="columns large-10">
            <div ui-view></div>
        </div>
    </div>
</div>