<div class="row">
  <div class="columns large-12">
    Here you see the current problem definition. If you want to work with a different problem you can define a new one based on the current one, which may include different criteria and scale ranges. Scale ranges must be defined for all selected criteria. 
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <h4>Criterion selection</h4>
    <table class="full-width effects-table">
      <thead>
        <tr>
          <th>Criterion</th>
          <th>Description</th>
          <th>Units</th>
          <th class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives">
            {{alternative.title}}{{problem.valueTree.children.children[0].criteria}}
          </th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat="(criterionKey, criterion) in problem.criteria">
          <td>
            <label>
              <input type="checkbox" ng-if="editMode.isUserOwner" ng-model="subProblemState.criterionInclusions[criterionKey]"
                ng-change="updateInclusions()" ng-disabled="subProblemState.criterionInclusions[criterionKey] && subProblemState.numberOfCriteriaSelected < 3"> {{criterion.title}}</label>
          </td>
          <td>
            <div class="td-container">
              <div class="td-content">{{criterion.description}}</div>
              <div class="td-spacer">{{criterion.description}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
          <td>{{criterion.unitOfMeasurement}}</td>
          <td class="text-center" ng-repeat="(alternativeKey, alternative) in problem.alternatives"
            name="col{{$index}}" id="col{{$index}}">
            {{scales.observed[criterionKey][alternativeKey]['50%'] | number}}
            <br>
            <div class="uncertain" ng-if="!isExact(criterionKey, alternativeKey)">
              {{scales.observed[criterionKey][alternativeKey]['2.5%'] | number}}, {{scales.observed[criterionKey][alternativeKey]['97.5%']
              | number}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <h4>Scale Ranges</h4>
    <table class="full-width">
      <thead>
        <tr>
          <th>Criterion</th>
          <th>Theoretical Range</th>
          <th>Observed Range</th>
          <th>Configured Range</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{'disabled-row': !subProblemState.criterionInclusions[criterion.id]}"
          ng-repeat="criterion in criteriaForScales">
          <td>{{criterion.title}}</td>
          <td>{{scales.theoreticalScales[criterion.id][0] | number}}, {{scales.theoreticalScales[criterion.id][1]
            | number}}</td>
          <td>
            <span ng-bind="intervalHull(scales.observed[criterion.id])[0] | number"></span>
            ,
            <span ng-bind="intervalHull(scales.observed[criterion.id])[1] | number"></span>
          </td>
          <td>
            <span ng-if="subProblemState.ranges[criterion.id].pvf.range">{{subProblemState.ranges[criterion.id].pvf.range[0] | number}}, {{subProblemState.ranges[criterion.id].pvf.range[1]
              | number}}</span>
          </td>
          <td>{{criterion.unitOfMeasurement}}</td>
        </tr>
      </tbody>
    </table>
    <button ng-if="editMode.isUserOwner" ng-click="openScaleRangeDialog()">
      Define Scale Ranges
    </button>
  </div>
</div>

<div class="row" ng-if="editMode.isUserOwner">
  <div class="columns large-12">
    <button class="success" ng-click="openSaveDialog()" ng-disabled="isCreationAllowed()">Save new problem</button>
    <button ng-click="reset(subProblem)">Reset</button>
    <span class="alert" ng-if="!subProblemState.hasScaleRange">Missing scale ranges</span>
  </div>
</div>
