<div class="grid-x">
  <div class="cell">
      Problem <inline-help help-key="problem"></inline-help>:
    <select class="scenario-select" ng-model="subProblem" ng-options="subProblem.title for subProblem in subProblems track by subProblem.id" ng-change="subProblemChanged(subProblem)"></select>
      <button class="button tiny success" style="margin: 0" ng-click="openCreateDialog()" ng-if="editMode.isUserOwner">Create new problem</button>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-10">
    <h4>Effects table<inline-help help-key="effects-table"></inline-help></h4>
  </div>
  <div class="cell large-2">
    <button class="button small info clipboard-button" data-clipboard-target="#effecttable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell">
    <table class="full-width effects-table" id="effecttable">
      <thead>
        <tr>
          <th>Criterion <inline-help help-key="criterion"></inline-help></th>
          <th>Description</th>
          <th>Units <inline-help help-key="criterion-unit"></inline-help></th>
          <th class="text-center" ng-repeat="(alternativeKey, alternative) in mergedProblem.alternatives">
            <label>
              {{alternative.title}}
            </label>
          </th>
        </tr>
      </thead>
      <tbody class="main">
        <tr ng-repeat="(criterionKey, criterion) in mergedProblem.criteria">
          <td>
            <label>
              {{criterion.title}}
            </label>
          </td>
          <td>
            <div class="td-container">
              <div class="td-content">{{criterion.description}}</div>
              <div class="td-spacer">{{criterion.description}}</div>
              <span>&nbsp;</span>
            </div>
          </td>
          <td>{{criterion.unitOfMeasurement}}</td>
          <td class="text-center" ng-repeat="(alternativeKey, alternative) in mergedProblem.alternatives" name="col{{$index}}" id="col{{$index}}">
            {{scales.observed[criterionKey][alternativeKey]['50%'] | number}}
            <br>
            <div class="uncertain" ng-if="!isExact(criterionKey, alternativeKey)">
              {{scales.observed[criterionKey][alternativeKey]['2.5%'] | number}}, {{scales.observed[criterionKey][alternativeKey]['97.5%'] | number}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="grid-x">
  <div class="cell large-10">
    <h4>Scale Ranges
      <inline-help help-key="scale-ranges"></inline-help>
    </h4>
  </div>
  <div class="cell large-2">
    <button class="button small info clipboard-button" data-clipboard-target="#scalestable">
      <i class="fa fa-clipboard"></i> Copy to clipboard
    </button>
  </div>
  <div class="cell">
    <table class="full-width" id="scalestable">
      <thead>
        <tr>
          <th>Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th>Theoretical Range
            <inline-help help-key="theoretical-range"></inline-help>
          </th>
          <th>Observed Range
            <inline-help help-key="observed-range"></inline-help>
          </th>
          <th>Configured Range
            <inline-help help-key="configured-range"></inline-help>
          </th>
          <th>Units
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(id, criterion) in mergedProblem.criteria">
          <td>{{criterion.title}}</td>
          <td>{{scales.theoreticalScales[id][0] | number}}, {{scales.theoreticalScales[id][1] | number}}</td>
          <td>
            <span ng-bind="intervalHull(scales.observed[id])[0] | number"></span> ,
            <span ng-bind="intervalHull(scales.observed[id])[1] | number"></span>
          </td>
          <td>
            <span ng-if="mergedProblem.criteria[id].pvf.range">{{mergedProblem.criteria[id].pvf.range[0] | number}}, {{mergedProblem.criteria[id].pvf.range[1]
              | number}}</span>
          </td>
          <td>{{criterion.unitOfMeasurement}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>