<!-- First step -->
<div ng-if="state.step === 1">
  <div class="grid-x" style="min-height: 450px">
    <div class="cell">
      <h3>{{state.title}} <inline-help help-key="swing-weighting"></inline-help></h3>
    </div>
    <div class="cell">
      <table>
        <thead>
          <th>Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th>Description</th>
          <th>Unit
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
          <th>Worst</th>
          <th>Best</th>
        </thead>
        <tbody>
          <tr ng-repeat="criterion in criteria">
            <td>{{criterion.title}}</td>
            <td>{{criterion.description}}</td>
            <td>{{criterion.unitOfMeasurement}}</td>
            <td>{{pvf.worst(criterion) | number}}</td>
            <td>{{pvf.best(criterion) | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell">
      Which of the following improvements is most important?
    </div>
    <div class="cell" ng-repeat="criterion in criteria">
      <label>
        <input type="radio" ng-model="state.mostImportantCriterion" value="{{criterion.id}}"> {{criterion.pvf.direction}} {{criterion.title}} from {{pvf.worst(criterion) | number}} {{criterion.unitOfMeasurement}} to {{pvf.best(criterion) | number}} {{criterion.unitOfMeasurement}}
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell">
      <button class="button" ng-click="cancel()">Cancel</button>
      <button class="button" ng-click="nextStep(state)" ng-disabled="!canProceed(state)">Next</button>
    </div>
    <div class="cell alert" ng-if="!canProceed(state)">
      Cannot proceed because the most important improvement has not been chosen.
    </div>
  </div>
</div>
<!-- Second step -->
<div ng-if="state.step === 2">
  <div class="grid-x" style="min-height: 450px">
    <div class="cell">
      <h3>{{state.title}} <inline-help help-key="swing-weighting"></inline-help></h3>
    </div>
    <div class="cell">
      <table>
        <thead>
          <th>Criterion
            <inline-help help-key="criterion"></inline-help>
          </th>
          <th>Description</th>
          <th>Unit
            <inline-help help-key="criterion-unit"></inline-help>
          </th>
          <th>Worst</th>
          <th>Best</th>
          <th>Importance</th>
        </thead>
        <tbody>
          <tr ng-repeat="criterion in criteria">
            <td>{{criterion.title}}</td>
            <td>{{criterion.description}}</td>
            <td>{{criterion.unitOfMeasurement}}</td>
            <td>{{pvf.worst(criterion) | number}}</td>
            <td>{{pvf.best(criterion) | number}}</td>
            <td ng-if="criterion.id !== state.mostImportantCriterion">{{isPrecise ? state.values[criterion.id] : (isImprecise ? state.values[criterion.id].low + '-' + state.values[criterion.id].high : 'error')}}%</td>
            <td ng-if="criterion.id === state.mostImportantCriterion">100%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cell">
      You've indicated that improving {{state.problem.criteria[state.mostImportantCriterion].title}} from {{pvf.worst(state.problem.criteria[state.mostImportantCriterion])}} {{state.problem.criteria[state.mostImportantCriterion].unitOfMeasurement}} to {{pvf.best(state.problem.criteria[state.mostImportantCriterion])}} {{state.problem.criteria[state.mostImportantCriterion].unitOfMeasurement}} is the most important (i.e. it has 100% importance). Now indicate the relative importance (in %) to this improvement of each other criterion's improvement using the sliders below.
    </div>
    <div class="cell">
      <br>
      <table>
        <tbody>
          <tr ng-repeat="criterion in criteria">
            <td>
              {{criterion.pvf.direction}} {{criterion.title}} from {{pvf.worst(criterion) | number}} {{criterion.unitOfMeasurement}} to {{pvf.best(criterion) | number}} {{criterion.unitOfMeasurement}}
            </td>
            <td ng-if="state.mostImportantCriterion === criterion.id" style="width:50%">
              <rzslider rz-slider-model="state.oneHundred" rz-slider-options="state.sliderOptionsDisabled"></rzslider>
            </td>
            <td ng-if="state.mostImportantCriterion !== criterion.id && isPrecise" style="width:50%">
              <rzslider rz-slider-model="state.values[criterion.id]" rz-slider-options="state.sliderOptions"></rzslider>
            </td>
            <td ng-if="state.mostImportantCriterion !== criterion.id && isImprecise" style="width:50%">
              <rzslider rz-slider-model="state.values[criterion.id].low" rz-slider-high="state.values[criterion.id].high" rz-slider-options="state.sliderOptions"></rzslider>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid-x">
      <div class="cell">
        <button class="button" ng-click="previousStep()" ng-disabled="!canReturn()">Previous</button>
        <button class="success button" ng-if="canSave(state)" ng-click="save(state)" ng-disabled="!canProceed(state)">Save</button>
      </div>
    </div>
  </div>