<div class="row">
  <div class="columns large-12">
  
    <div ng-if="error" ng-cloak>
      <alert type="alert" close="error.close()">Computation failed: {{error.code}} <span ng-show="error.error">&mdash; {{error.error}}</span></alert>
    </div>
  
    <h2>Preference elicitation</h2>
    <h3 ng-show="!isEditTitleVisible" class="subheader">
        <span ng-bind="workspace.title"></span>
        <a  ng-click="editTitle()"><i class="fa fa-edit"></i></a>
    </h3>
    <div class="row" ng-show="isEditTitleVisible">
      <div class="columns large-8 small-12">
        <form>
          <div class="row collapse">
            <div class="columns small-8"><input type="text" ng-model="workspaceTitle"></div>
            <div class="columns small-2"><button class="button postfix" ng-click="saveTitle()">Save</button></div>
            <div class="columns small-2"><button class="button secondary postfix" ng-click="cancelTitle()">Cancel</button></div>            
         </div>
        </form>
      </div>
    </div>
    
    <div class="tabs">
      <ul class="tabsNavigation">
        <li ng-repeat="s in scenarios | orderBy:'title'" ng-class="{current: s.id == scenario.id}">
          <a ui-sref="overview({scenarioId: s.id})" ng-bind="s.title"></a>
        </li>
        <li>
          <a href="javaScript:void(0);" data-dropdown="newScenarioControl"><i class="fa fa-plus"></i></a>
          <ul id="newScenarioControl" class="f-dropdown" data-dropdown-content>
            <li><a ng-click="forkScenario()">Copy current scenario</a></li>
            <li><a ng-click="newScenario()">Create clean scenario</a></li>
          </ul>
        </li>
      </ul>
      <div class="fakeTabsContent"></div>
    </div>

    <div class="columns large-2">
      <ul class="side-nav">
        <li>
          <a ui-sref="overview"><i class="fa fa-angle-left"></i> Overview</a>
        </li>
        <li>
          <a ng-show="resultsAccessible" ui-sref="results"><i class="fa fa-angle-right"></i> Results</a>
          <span ng-show="!resultsAccessible" ui-sref="results"><i class="fa fa-angle-right"></i> Results</span>
        </li>
      </ul>
    </div>
    <div class="columns large-10">
      <div ui-view></div>
    </div>
  </div>
</div>
