name: MCDA | pull request | back-end tests

on:
  push:
    branches: githubActions

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: ['12']
        os: [ubuntu-16.04]

    steps:
      - uses: actions/checkout@v1
      - uses: webfactory/ssh-agent@v0.1.1
        with:
          ssh-private-key: ${{ secrets.deployPrivateKey }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('package.json') }}

      - name: run yarn
        run: yarn

      - name: back-end tests
        id: mocha
        run: npx mocha --exit
      # - name: notify on slack channel on mocha failure
      #   if: failure()
      #   uses: rtCamp/action-slack-notify@master
      #   env:
      #     SLACK_WEBHOOK: ${{ secrets.slack_webhook }}
      #     SLACK_USERNAME: gitbot
      #     SLACK_TITLE: 'Develop pull request:'
      #     SLACK_MESSAGE: 'Back-end tests failed'
      # - name: notify on slack channel on success
      #   if: success()
      #   uses: rtCamp/action-slack-notify@master
      #   env:
      #     SLACK_WEBHOOK: ${{ secrets.slack_webhook }}
      #     SLACK_USERNAME: gitbot
      #     SLACK_TITLE: 'Develop pull request:'
      #     SLACK_MESSAGE: 'Back-end tests passed'
