name: MCDA develop | pull request | front-end tests

on:
  pull_request:
    branches: develop

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: ["12"]
        os: [ubuntu-16.04]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('package.json') }}

      - name: run yarn
        run: yarn

      - name: front-end tests
        id: karma
        run: npx karma start --singleRun

      - name: notify on slack channel on karma failure
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.slack_webhook }}
          SLACK_USERNAME: gitbot
          SLACK_TITLE: "Development pull request:"
          SLACK_MESSAGE: "Front-end tests failed"

      - name: notify on slack channel on success
        if: success()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.slack_webhook }}
          SLACK_USERNAME: gitbot
          SLACK_TITLE: "Development pull request:"
          SLACK_MESSAGE: "Front-end passed"
