name: MCDA | push | deploy

on:
  push:
    branches: master

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: ['12']
        os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v2
      - uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.deployPrivateKey }}

      - name: create ssl files
        run: |
          mkdir ssl
          echo "${{ secrets.pataviClientCrt }}" > ssl/crt.pem 
          echo "${{ secrets.pataviClientKey }}" > ssl/key.pem

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('package.json') }}

      - name: run yarn
        run: yarn

      - name: unit tests
        id: jest
        run: yarn jest

      - name: build docker image
        run: ./build-docker.sh GOOGLE Live https://mcda.drugis.org live

      - name: docker login
        run: docker login -u addis -p ${{ secrets.dockerRegistryPassword }}

      - name: docker push
        run: docker push addis/mcda:live

      - name: pull latest from drugis on the server
        run: ssh -o StrictHostKeyChecking=no deploy@mcda.drugis.org 'cd mcda-elicitation-web && git pull'

      - name: pull image on server
        run: ssh -o StrictHostKeyChecking=no deploy@mcda.drugis.org 'docker pull addis/mcda:live'

      - name: remove container
        run: ssh -o StrictHostKeyChecking=no deploy@mcda.drugis.org 'docker rm -f mcda || true'

      - name: update database
        run: |
          cd liquibase
          cp ../database.pg.sql liquibase-changelog.sql
          docker run --rm -v $(pwd):/liquibase/ --network host \
           -e "LIQUIBASE_URL=jdbc:postgresql://psql.drugis.org:5432/mcdaweb" \
           -e "LIQUIBASE_USERNAME=mcdaweb" \
           -e "LIQUIBASE_PASSWORD=${{ secrets.mcdaLiveDbPassword }}" \
           -e "LIQUIBASE_CHANGELOG=liquibase-changelog.sql" \
           webdevops/liquibase:postgres update

      - name: run docker container on remote server
        run: >
          ssh -o StrictHostKeyChecking=no deploy@mcda.drugis.org \
          'docker run \
           -e MCDAWEB_DB_USER=mcdaweb \
           -e MCDAWEB_DB_PASSWORD=${{ secrets.mcdaLiveDbPassword }} \
           -e MCDA_HOST=https://mcda.drugis.org \
           -e MCDAWEB_DB_HOST=psql.drugis.org \
           -e MCDAWEB_DB_NAME=mcdaweb \
           -e MCDAWEB_COOKIE_SECRET=${{ secrets.mcdaLiveCookieSecret }} \
           -e MCDAWEB_GOOGLE_KEY=${{ secrets.mcdaLiveGoogleKey }} \
           -e MCDAWEB_GOOGLE_SECRET=${{ secrets.mcdaLiveGoogleSecret }} \
           -e PATAVI_HOST=patavi.drugis.org \
           -e PATAVI_PORT=443 \
           -e PATAVI_CLIENT_KEY=/var/lib/mcda/ssl/key.pem \
           -e PATAVI_CLIENT_CRT=/var/lib/mcda/ssl/crt.pem \
           -d --name=mcda -p 8080:3002 \
           addis/mcda:live'

      # Without sleep, prune will remove the container.
      - name: Sleep for 30 seconds
        run: sleep 30

      - name: prune docker on the server
        run: ssh -o StrictHostKeyChecking=no deploy@mcda.drugis.org 'docker system prune -f'

      - name: notify on slack channel on failure
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.slackWebhook }}
          SLACK_USERNAME: gitbot
          SLACK_TITLE: 'Master push:'
          SLACK_MESSAGE: 'MCDA-live deploy failed'

      - name: notify on slack channel on success
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.slackWebhook }}
          SLACK_USERNAME: gitbot
          SLACK_TITLE: 'Master push:'
          SLACK_MESSAGE: 'MCDA-live deployed'
